.modal {
  --bs-modal-padding: 0.5rem;
}
.modal-header {
  border-bottom: 0;
}
.modal-content {
  border-radius: 12px;
  box-shadow: 0 0px 8px -4px #10182814;
  width: 400px;
  height: auto;
  padding: 10px;
}
.modal-dialog {
  margin-top: 7rem;
  margin-left: auto;
  margin-right: auto;
}
.btn-close {
  color: #667085;
  width: 12px;
  height: 12px;
}
.info h3 {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 12px;
}

.info .label,
.info .value {
  font-weight: 400;
  font-size: 12px;
}

.info .value {
  font-weight: 500;
}

.modal-header h1,
.modal-body h1,
.info h3 .label,
.info h3 .value {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
}

.modal-body h1 {
  font-size: 16px;
  line-height: 24px;
}

.info h3 .label,
.info h3 .value {
  font-weight: 400;
  font-size: 12px;
  width: 165px;
  text-align: start;
}

.info h3 .value {
  font-weight: 500;
}
.btn-close:focus {
  box-shadow: none;
}
@media (max-width: 768px) {
  .modal-dialog {
    width: 95% !important;
    margin: 2rem auto;
  }

  .modal-content {
    padding: 10px;
    width: 100% !important;
    height: auto;
    border-radius: 8px;
  }

  .modal-body {
    padding: 1rem;
  }

  .breadcrumb,
  .breadcrumbSpace,
  .inActive {
    width: auto;
    height: 36px;
    font-size: 13px;
    padding: 0 10px;
  }

  .info h3 {
    align-items: flex-start;
  }

  .info h3 .label,
  .info h3 .value {
    width: 100% !important;
    font-size: 13px;
    text-align: start;
  }

  .modal-header h1,
  .modal-body h1 {
    font-size: 16px;
    text-align: center;
  }

  .attechment h4 {
    font-size: 13px;
  }

  .attechment p {
    font-size: 10px;
  }

  .approve-btn,
  .reject-btn {
    width: 100px;
    height: 42px;
    font-size: 14px;
  }

  .scrollable-container {
    max-height: 300px;
  }

  .popup-dialog.modal-lg {
    max-width: 100%;
    margin: 1rem auto;
  }

  iframe {
    height: 300px;
  }
}
