.modal {
  --bs-modal-padding: 0.5rem;
}
.modal-header {
  border-bottom: 0;
}
.modal-content {
  border-radius: 12px;
  box-shadow: 0 0px 8px -4px #10182814;
  width: 400px;
  height: auto;
  padding: 10px;
}
.modal-dialog {
  margin-top: 7rem;
  margin-left: auto;
  margin-right: auto;
}
.btn-close {
  color: #667085;
  width: 12px;
  height: 12px;
}
.info h3 {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 12px;
}

.info .label,
.info .value {
  font-weight: 400;
  font-size: 12px;
}

.info .value {
  font-weight: 500;
}

.modal-header h1,
.modal-body h1,
.info h3 .label,
.info h3 .value {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
}


.modal-body h1 {
  font-size: 16px;
  line-height: 24px;
}

.info h3 .label,
.info h3 .value {
  font-weight: 400;
  font-size: 12px;
  width: 165px;
  text-align: start;
}

.info h3 .value {
  font-weight: 500;
}
.btn-close:focus {
  box-shadow: none;
}
