<div
  class="modal fade"
  id="viewModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content d-flex">
      <div class="modal-header p-2 z-1">
        <h1 class="modal-title" id="exampleModalLabel">
          {{ "notification_details" | translate }}
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
            [ngClass]="
            translateService.currentLang === 'ar' ? 'me-auto' : 'ms-auto'
          "
        ></button>
      </div>
      <div *ngIf="notification" class="modal-body">
        <!-- <div class="title d-flex align-items-start gap-2 flex-column mt-4"> -->
        <!-- <h1>Request Information:</h1> -->
        <div class="info d-flex flex-column align-items-start gap-3 mt-3">
          <h3 class="d-flex justify-content-between m-0">
            <span class="label">{{ "notification_id" | translate }}:</span>
            <span class="value">{{ notification.id }}</span>
          </h3>
          <h3 class="d-flex justify-content-between m-0">
            <span class="label">{{ "title" | translate }}:</span>
            <span class="value">{{ notification.title }}</span>
          </h3>
          <h3 class="d-flex justify-content-between m-0">
            <span class="label">{{ "message" | translate }}:</span>
            <span class="value">{{ notification.content }}</span>
          </h3>
          <h3 class="d-flex justify-content-between m-0">
            <span class="label">{{ "recipients" | translate }}:</span>
            <span class="value">{{ notification.recipients }}</span>
          </h3>
          <h3 class="d-flex justify-content-between m-0">
            <span class="label">{{ "date_sent" | translate }}:</span>
            <span class="value">{{ notification.createdAt }}</span>
          </h3>
          <h3 class="d-flex justify-content-between m-0">
            <span class="label">{{ "status" | translate }}:</span>
            <span class="value">{{ notification.status }}</span>
          </h3>
          <h3 class="d-flex justify-content-between m-0">
            <span class="label">{{ "delivery_status" | translate }}:</span>
            <span class="value">
              {{ "delivered_to" | translate }} {{ notification.success }},
              {{ "failed_to_deliver_to" | translate }}
              {{ notification.failure }}</span
            >
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
