<div
  class="modal fade"
  id="viewModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content d-flex">
      <div class="modal-header p-2 z-1">
        <h1 class="modal-title" id="exampleModalLabel">Notification Details</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div *ngIf="notification" class="modal-body">
        <!-- <div class="title d-flex align-items-start gap-2 flex-column mt-4"> -->
        <!-- <h1>Request Information:</h1> -->
        <div class="info d-flex flex-column align-items-start gap-3 mt-3">
          <h3 class="d-flex justify-content-between m-0">
            <span class="label">Notification ID:</span>
            <span class="value">{{notification.id}}</span>
          </h3>
          <h3 class="d-flex justify-content-between m-0">
            <span class="label">Title:</span>
            <span class="value">{{notification.title}}</span>
          </h3>
          <h3 class="d-flex justify-content-between m-0">
            <span class="label">Message:</span>
            <span class="value">{{notification.content}}</span>
          </h3>
          <h3 class="d-flex justify-content-between m-0">
            <span class="label">Recipients:</span>
            <span class="value">{{notification.recipients}}</span>
          </h3>
          <h3 class="d-flex justify-content-between m-0">
            <span class="label">Date Sent:</span>
            <span class="value">{{notification.createdAt}}</span>
          </h3>
          <h3 class="d-flex justify-content-between m-0">
            <span class="label">Status:</span>
            <span class="value">{{notification.status}}</span>
          </h3>
          <h3 class="d-flex justify-content-between m-0">
            <span class="label">Delivery Status:</span>
            <span class="value">Delivered to {{notification.success}}, Failed to deliver to {{notification.failure}}</span>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
