<div class="d-flex flex-column">
  <div class="messages">
    <div #scrollContainer class="d-flex flex-column gap-4 scroll mx-2"
      style="height: auto; max-height: 517px; overflow: auto">
      <div *ngFor="let message of messages">
        <div *ngIf="message.senderEmail === chatRoom.customerProfile.email" class="d-flex gap-3 my-4">
          <div class="img-style">
            <img class="rounded-circle" [src]="chatRoom.customerProfile.logoPath"
              onerror="this.onerror=null;this.src='../../../../assets/img/anonymous-profile.svg';" alt="" srcset="" />
          </div>
          <div class="d-flex flex-column gap-4">
            <div class="d-flex align-items-center gap-5">
              <div class="text-style d-flex align-items-center gap-1">
                <h4 class="m-0">{{chatRoom.customerProfile.name}}</h4>
                <span>[{{chatRoom.customerProfile.role}}]</span>
              </div>
              <div class="text-style">
                <h6 class="m-0">{{message.sentTime | date: 'MMMM d, y h:mm:ss a'}}</h6>
              </div>
            </div>
            <div class="custmor ps-4">
              <p *ngIf="message.messageType==='text'">
                {{message.content}}
              </p>
              <img class="chat-image" *ngIf="message.messageType==='image'" [src]="message.content" alt="" srcset="" />
            </div>
          </div>
        </div>
        <div *ngIf="message.senderEmail != chatRoom.customerProfile.email" class="d-flex gap-3 justify-content-end">
          <div class="d-flex flex-column gap-3">
            <div class="d-flex align-items-center justify-content-end gap-5">
              <div class="text-style">
                <h6 class="m-0">{{message.sentTime}}</h6>
              </div>
              <div class="text-style d-flex align-items-center gap-1">
                <h4 class="m-0">Technical Support</h4>
              </div>
            </div>
            <div class="provider ps-5">
              <p *ngIf="message.messageType==='text'">
                {{message.content}}
              </p>
              <img class="chat-image" *ngIf="message.messageType==='image'" [src]="message.content" alt="" srcset="" />
            </div>
          </div>
          <div class="logo-style d-flex flex-column">
            <img class="one" src="../../../../../assets/img/meter.png" alt="" srcset="" />
            <img class="two" src="../../../../../assets/img/Frame 1.svg" alt="" srcset="" />
          </div>
        </div>
      </div>
      <div *ngIf="chatRoom" class="input-container">
        <!-- Text Input or Preview -->
        <input
          *ngIf="!fileToBeUploaded"
          type="text"
          class="form-control"
          placeholder="Type a message..."
          [(ngModel)]="message"
        />
      
        <img
          *ngIf="fileToBeUploaded"
          [src]="filePreview"
          alt="Uploaded Image"
          class="file-preview-image"
        />
      
        <!-- Attach File Button -->
        <button class="btn attach-btn" title="Attach File">
          <input
            type="file"
            name="file"
            class="file-input"
            (change)="onFilesSelected($event)"
          />
          <i class="fa fa-paperclip"></i>
        </button>
      
        <!-- Send Message Button -->
        <button type="button" class="btn send-btn" (click)="sendMessage()">
          <img src="../../../../../assets/img/Mail Send Email.svg" />
        </button>
      </div>
      
    </div>