<div class="d-flex flex-column">
  <div class="messages">
    <div
      #scrollContainer
      class="d-flex flex-column gap-4 scroll mx-2"
      style="height: auto; max-height: 517px; overflow: auto"
    >
      <div class="d-flex gap-3 my-4">
        <div class="img-style">
          <img
            class="rounded-circle"
            src="../../../../../assets/img/db5804def617f681fa73bf05d8434df0.jpeg"
            alt=""
            srcset=""
          />
        </div>
        <div class="d-flex flex-column gap-4">
          <div class="d-flex align-items-center gap-5">
            <div class="text-style d-flex align-items-center gap-1">
              <h4 class="m-0">Mo MonGe</h4>
              <span>[Customer]</span>
            </div>
            <div class="text-style">
              <h6 class="m-0">2024-06-26 10:25</h6>
            </div>
          </div>
          <div class="custmor ps-4">
            <p>
              Hi Jack! I'm doing well, thanks. Can't wait for the weekend! Lorem
              ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
              voluptate recusandae exercitationem provident a error quis? Labore
              aperiam possimus quas, est a, id ex, eum itaque expedita et
              dolorum harum?
            </p>
          </div>
        </div>
      </div>
      <div class="d-flex gap-3 justify-content-end">
        <div class="d-flex flex-column gap-3">
          <div class="d-flex align-items-center justify-content-end gap-5">
            <div class="text-style">
              <h6 class="m-0">2024-06-26 10:25</h6>
            </div>
            <div class="text-style d-flex align-items-center gap-1">
              <h4 class="m-0">Technical Support</h4>
            </div>
          </div>
          <div class="provider ps-5">
            <p>
              I know, right? Weekend plans are the best. Any exciting plans on
              your end? Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Accusantium odit cum voluptatum maxime molestias iste, voluptates
              dolor eos excepturi debitis fugiat ratione magni culpa odio
              incidunt suscipit cumque fugit tempora!
            </p>
          </div>
        </div>
        <div class="logo-style d-flex flex-column">
          <img
            class="one"
            src="../../../../../assets/img/meter.png"
            alt=""
            srcset=""
          />
          <img
            class="two"
            src="../../../../../assets/img/Frame 1.svg"
            alt=""
            srcset=""
          />
        </div>
      </div>
      <!-- repeated -->
      <div class="d-flex gap-3 my-4">
        <div class="img-style">
          <img
            class="rounded-circle"
            src="../../../../../assets/img/db5804def617f681fa73bf05d8434df0.jpeg"
            alt=""
            srcset=""
          />
        </div>
        <div class="d-flex flex-column gap-4">
          <div class="d-flex align-items-center gap-5">
            <div class="text-style d-flex align-items-center gap-1">
              <h4 class="m-0">Mo MonGe</h4>
              <span>[Customer]</span>
            </div>
            <div class="text-style">
              <h6 class="m-0">2024-06-26 10:25</h6>
            </div>
          </div>
          <div class="ps-4">
            Hi Jack! I'm doing well, thanks. Can't wait for the weekend!
          </div>
        </div>
      </div>
      <div class="d-flex gap-3 justify-content-end">
        <div class="d-flex flex-column gap-3">
          <div class="d-flex align-items-center justify-content-end gap-5">
            <div class="text-style">
              <h6 class="m-0">2024-06-26 10:25</h6>
            </div>
            <div class="text-style d-flex align-items-center gap-1">
              <h4 class="m-0">Technical Support</h4>
            </div>
          </div>
          <div class="provider ps-5">
            <p>
              I know, right? Weekend plans are the best. Any exciting plans on
              your end? Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Accusantium odit cum voluptatum maxime molestias iste, voluptates
              dolor eos excepturi debitis fugiat ratione magni culpa odio
              incidunt suscipit cumque fugit tempora!
            </p>
          </div>
        </div>
        <div class="logo-style d-flex flex-column">
          <img
            class="one"
            src="../../../../../assets/img/meter.png"
            alt=""
            srcset=""
          />
          <img
            class="two"
            src="../../../../../assets/img/Frame 1.svg"
            alt=""
            srcset=""
          />
        </div>
      </div>
    </div>
  </div>
  <div class="input-container">
    <input type="text" placeholder="Type message..." />
    <button type="button">
      <img src="../../../../../assets/img/Mail Send Email.svg" />
    </button>
  </div>
</div>
