.img-style img,
.logo-style .one {
  width: 48px;
  height: 48px;
}
.chat-image {
  width: 150px;
  height: 150px;
}
.logo-style .one {
  width: 65px;
}
.logo-style .two {
  width: 30px;
  height: 30px;
  margin-top: -20px;
  margin-left: -7px;
}
.text-style h4,
.text-style span,
.text-style h6 {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.36px;
  color: #000;
}
.text-style span {
  color: #f28f45;
}
.text-style h6 {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  color: #1c1c1c80;
}

.provider p,
.custmor p {
  width: 411.37px;
  height: auto;
  line-height: 21.78px;
  color: #fff;
  background-color: #f28f45;
  border-radius: 14px 0px 14px 14px;
  padding: 16px 24px 16px 30px;
}
.custmor p {
  color: #000;
  background-color: transparent;
  padding: 0;
  border-radius: 0;
}
.scroll {
  overflow: hidden;
}

.scroll::-webkit-scrollbar {
  display: none;
}
/* .container {
  display: flex;
  flex-direction: column;
} */
.messages {
  flex: 1;
  overflow-y: auto;
}
.input-container {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
}

.input-container input.form-control {
  flex: 1;
  padding: 8px;
  border: 0;
  height: 82px;
  background-color: #f5f5f5;
  box-shadow: none;
}

.input-container button {
  position: relative;
  padding: 10px;
  margin-right: 20px;
  background-color: #f28f45;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.input-container button .fa-paperclip {
  color: white;
}

.input-container button img {
  width: 20px;
  height: 20px;
  margin-top: -3px;
}

.file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; /* Makes the file input invisible */
  cursor: pointer;
}

.attach-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.send-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-preview-image {
  max-width: 100px;
  max-height: 100px;
  border-radius: 4px;
  margin-right: 8px;
}
