<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form>
        <div class="modal-dialog">
            <div class="modal-content d-flex">
                <div class="modal-header p-2 z-1">
                    <h1 class="modal-title" id="exampleModalLabel">Edit Request</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-wrap gap-3 mt-2">
                    <div class="d-flex flex-column" style="gap: 2rem">
                        <div class="position-relative input-container">
                            <label for="title" class="position-absolute label-style">Type of Activity</label>
                            <input type="text" id="title" disabled class="input-style" />
                        </div>
                        <div *ngIf="selectedPricing === 'Survey report'" class="position-relative input-container">
                            <label for="survey" class="position-absolute label-style">Purpose of Survey Report</label>
                            <div class="input-style d-flex justify-content-between align-items-center text-black"
                                (click)="toggleSurveyDropdown()">
                                {{ selectedSurvey ? selectedSurvey : "Choose Purpose of Survey Report" }}
                                <img src="../../../../../assets/img/arrow-down-o.svg" />
                            </div>

                            <div *ngIf="surveyDropdownOpen" class="dropdown-content d-flex flex-column gap-1">
                                <div class="scrollable-container">
                                    <label class="radio-container d-flex align-items-center gap-2 mx-1"
                                        *ngFor="let survey of surveyReport">
                                        <input type="radio" name="survey" [value]="survey.name"
                                            [(ngModel)]="selectedSurvey" />
                                        <span class="radio-label">{{ survey.name }}</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="selectedPricing === 'Construction license'"
                            class="position-relative input-container">
                            <label for="certificate" class="position-absolute label-style">Type of Certificate</label>
                            <div class="input-style d-flex justify-content-between align-items-center text-black"
                                (click)="toggleCertificateDropdown()">
                                {{ selectedCertificate ? selectedCertificate : "Choose Type of Certificate" }}
                                <img src="../../../../../assets/img/arrow-down-o.svg" />
                            </div>

                            <div *ngIf="certificateDropdownOpen" class="dropdown-content d-flex flex-column gap-1">
                                <div class="scrollable-container">
                                    <label class="radio-container d-flex align-items-center gap-2 mx-1"
                                        *ngFor="let certificate of certificateOptions">
                                        <input type="radio" name="certificate" [value]="certificate.name"
                                            [(ngModel)]="selectedCertificate" (change)="onCertificateSelected()" />
                                        <span class="radio-label">{{ certificate.name }}</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="position-relative input-container">
                            <label for="pieceNumber" class="position-absolute label-style">Piece Number</label>
                            <input type="text" id="pieceNumber" placeholder="Enter Piece Number" class="input-style"
                                formControlName="pieceNumber" />
                        </div>
                        <div class="position-relative input-container">
                            <label for="Region" class="position-absolute label-style">Region</label>
                            <input type="text" id="Region" placeholder="Enter Region" class="input-style"
                                formControlName="Region" />
                        </div>
                        <div class="position-relative input-container">
                            <label for="Neighborhood" class="position-absolute label-style">Neighborhood</label>
                            <input type="text" id="Neighborhood" placeholder="Enter Neighborhood" class="input-style"
                                formControlName="Neighborhood" />
                        </div>
                        <div class="position-relative input-container">
                            <label for="phone" class="position-absolute z-1 label-style">Phone Number</label>
                            <div class="input-wrapper">
                                <img src="../../../../../assets/img/SA.svg" class="flag-icon ps-1 position-absolute" />
                                <input type="text" id="phone" class="input-style" [value]="phoneNumber"
                                    (input)="onPhoneInput($event)" style="padding-left: 2.5rem" />
                            </div>
                        </div>
                        <div class="position-relative input-container">
                            <label for="Applicant" class="position-absolute label-style">Applicant Type</label>
                            <div class="input-style d-flex justify-content-between align-items-center text-black"
                                (click)="toggleApplicantDropdown()">
                                {{ selectedApplicant ? selectedApplicant : "Choose Applicant Type" }}
                                <img src="../../../../../assets/img/arrow-down-o.svg" />
                            </div>

                            <div *ngIf="applicantDropdownOpen" class="dropdown-content d-flex flex-column gap-1">
                                <div class="scrollable-container">
                                    <label class="radio-container d-flex align-items-center gap-2 mx-1"
                                        *ngFor="let applicant of applicantOptions">
                                        <input type="radio" name="Applicant" [value]="applicant.name"
                                            [(ngModel)]="selectedApplicant" (change)="onApplicantSelected()" />
                                        <span class="radio-label">{{ applicant.name }}</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="position-relative input-container">
                            <label for="applicantName" class="position-absolute label-style">Applicant's Name</label>
                            <input type="text" id="applicantName" placeholder="Enter Applicant's Name"
                                class="input-style" formControlName="applicantName" />
                        </div>
                    </div>

                    <div class="d-flex flex-column" style="gap: 2rem">
                        <div class="position-relative input-container">
                            <label for="pricing" class="position-absolute label-style">Purpose of Pricing</label>
                            <div class="input-style d-flex justify-content-between align-items-center text-black"
                                (click)="togglePricingDropdown()">
                                {{ selectedPricing ? selectedPricing : "Choose Purpose of Pricing" }}
                                <img src="../../../../../assets/img/arrow-down-o.svg" />
                            </div>

                            <div *ngIf="pricingDropdownOpen" class="dropdown-content d-flex flex-column gap-1">
                                <div class="scrollable-container">
                                    <label class="radio-container d-flex align-items-center gap-2 mx-1"
                                        *ngFor="let option of pricingOptions">
                                        <input type="radio" name="pricing" [value]="option.name"
                                            [(ngModel)]="selectedPricing" (change)="onPricingSelected()" />
                                        <span class="radio-label">{{ option.name }}</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="showSurveyReportNumber()" class="position-relative input-container">
                            <label for="surveyReportNumber" class="position-absolute label-style">Survey Report
                                Number</label>
                            <input type="text" id="surveyReportNumber" placeholder="Enter Survey Report Number"
                                class="input-style" formControlName="surveyReportNumber" />
                        </div>
                        <div class="position-relative input-container">
                            <label for="chartNumber" class="position-absolute label-style">Chart Number</label>
                            <input type="text" id="chartNumber" placeholder="Enter Chart Number" class="input-style"
                                formControlName="chartNumber" />
                        </div>
                        <div class="position-relative input-container">
                            <label for="City" class="position-absolute label-style">City</label>
                            <input type="text" id="City" placeholder="Enter City" class="input-style"
                                formControlName="City" />
                        </div>
                        <div class="position-relative input-container">
                            <label for="Location" class="position-absolute label-style">Location</label>
                            <img src="../../../../../../../assets/img/location.svg" alt="" srcset=""
                                class="calendar-icon" />
                            <input type="text" id="Location" placeholder="Enter City" class="input-style"
                                style="padding-left: 40px" />
                        </div>
                        <div class="position-relative input-container">
                            <label for="agencyNumber" class="position-absolute label-style">Agency Number</label>
                            <input type="text" id="agencyNumber" placeholder="Enter Agency Number" class="input-style"
                                formControlName="agencyNumber" />
                        </div>
                        <div class="position-relative input-container">
                            <label for="id" class="position-absolute label-style">ID Number</label>
                            <input type="text" id="id" placeholder="Enter ID Number" class="input-style"
                                formControlName="id" />
                        </div>
                    </div>
                    <div class="position-relative input-container my-1">
                        <label for="title" class="position-absolute label-style">Description of Services</label>
                        <textarea type="text" id="title" placeholder="Enter Description of Services"
                            class="input-style w-100 overflow-hidden" style="height: 85px"></textarea>
                    </div>
                    <div class="position-relative input-container my-1 boder-style d-flex flex-row gap-2">
                        <div *ngIf="!uploadedFiles.length"
                            class="upload-instructions d-flex flex-column justify-content-center align-items-center gap-2">
                            <img src="../../../../../../../assets/img/document-upload.svg" alt="" class="w-25" />
                            <h2 class="m-0">Click to Upload</h2>
                            <h6 class="m-0">(Maximum file size: 25MB)</h6>
                        </div>

                        <input type="file" name="file" multiple (change)="onFilesSelected($event)" />

                        <div *ngFor="let preview of filePreviews; let i = index"
                            class="uploaded-file-preview d-flex align-items-center position-relative">
                            <img *ngIf="isImageFile(uploadedFiles[i])" [src]="preview" alt="Uploaded Image"
                                class="file-preview-image" />
                            <!-- <img *ngIf="preview === 'assets/file-icon.png'" [src]="preview" alt="File Icon"
                            class="file-preview-image" /> -->

                            <p
                                *ngIf="!isImageFile(uploadedFiles[i]) && preview !== 'assets/pdf-icon.png' && preview !== 'assets/file-icon.png'">
                                {{ uploadedFiles[i]?.name }}
                            </p>

                            <button (click)="removeFile(i)" class="close-button position-absolute ">×</button>
                        </div>
                    </div>

                </div>

                <div class="d-flex gap-3 justify-content-end" style="margin: 20px 10px 20px 0px">
                    <button type="button" class="reject-btn" data-bs-toggle="modal">
                        Cancel
                    </button>
                    <button type="submit" class="approve-btn" data-bs-toggle="modal">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>