<div class="d-flex flex-column gap-5 mt-5">
  <div class="d-flex justify-content-between">
    <div class="d-flex align-items-center gap-3">
      <img src="../../../../../assets/img/png.svg" alt="" srcset="" />
      <div class="d-flex flex-column">
        <h4 class="m-0">{{fileNames[0]}}</h4>
      </div>
    </div>
    <img class="cursor-pointer" src="{{product?.productImages}}" alt="" srcset="" />
    <img class="cursor-pointer" src="../../../../../assets/img/fi_download.svg" alt="" srcset="" />
  </div>
</div>