<div
  class="modal fade"
  id="filterModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content d-flex">
      <div class="modal-header p-2 z-1">
        <h1 class="modal-title" id="exampleModalLabel">
          {{ "filter" | translate }}
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          [ngClass]="
            translateService.currentLang === 'ar' ? 'me-auto' : 'ms-auto'
          "
        ></button>
      </div>
      <div class="modal-body">
        <div class="info d-flex flex-column gap-1">
          <h3>{{ "type_of_request" | translate }}</h3>
          <div class="d-flex align-items-center mb-4 gap-2">
            <a
              class="text-decoration-none d-flex align-items-center"
              href="#"
              [ngClass]="{
                breadcrumb: isActiveType('consolation'),
                active: isActiveType('consolation'),
                inActive: !isActiveType('consolation')
              }"
              (click)="toggleType('consolation', $event)"
            >
              {{ "consultation" | translate }}
            </a>
            <a
              class="text-decoration-none d-flex align-items-center gap-1"
              href="#"
              [ngClass]="{
                breadcrumb: isActiveType('job'),
                active: isActiveType('job'),
                inActive: !isActiveType('job')
              }"
              (click)="toggleType('job', $event)"
            >
              {{ "engineering_job" | translate }}
            </a>
            <a
              class="text-decoration-none d-flex align-items-center gap-1"
              href="#"
              [ngClass]="{
                breadcrumb: isActiveType('service'),
                active: isActiveType('service'),
                inActive: !isActiveType('service')
              }"
              (click)="toggleType('service', $event)"
            >
              {{ "service" | translate }}
            </a>
          </div>
        </div>
        <div class="info d-flex flex-column gap-1">
          <h3>{{ "status" | translate }}</h3>
          <div class="d-flex align-items-center mb-4 gap-2">
            <a
              class="text-decoration-none d-flex align-items-center"
              href="#"
              [ngClass]="{
                breadcrumb: isActiveStatus('Approved'),
                active: isActiveStatus('Approved'),
                inActive: !isActiveStatus('Approved')
              }"
              (click)="toggleStatus('Approved', $event)"
            >
              {{ "approved" | translate }}
            </a>
            <a
              class="text-decoration-none d-flex align-items-center gap-1"
              href="#"
              [ngClass]="{
                breadcrumb: isActiveStatus('Rejected'),
                active: isActiveStatus('Rejected'),
                inActive: !isActiveStatus('Rejected')
              }"
              (click)="toggleStatus('Rejected', $event)"
            >
              {{ "rejected" | translate }}
            </a>
            <a
              class="text-decoration-none d-flex align-items-center gap-1"
              href="#"
              [ngClass]="{
                breadcrumb: isActiveStatus('Pending'),
                active: isActiveStatus('Pending'),
                inActive: !isActiveStatus('Pending')
              }"
              (click)="toggleStatus('Pending', $event)"
            >
              {{ "pending" | translate }}
            </a>
          </div>
        </div>
        <button
          type="button"
          class="filter-btn m-auto d-block"
          (click)="filter()"
        >
          {{ "filter" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
