<div
  class="modal fade"
  id="filterModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content d-flex">
      <div class="modal-header p-2 z-1">
        <h1 class="modal-title" id="exampleModalLabel">Filter</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="info d-flex flex-column gap-1">
          <h3>Type of Request</h3>
          <div class="d-flex align-items-center mb-4 gap-2">
            <a
              class="text-decoration-none d-flex align-items-center"
              href="#"
              [ngClass]="{
                breadcrumb: isActiveType('consolation'),
                active: isActiveType('consolation'),
                inActive: !isActiveType('consolation')
              }"
              (click)="toggleType('consolation', $event)"
            >
              Consolation
            </a>
            <a
              class="text-decoration-none d-flex align-items-center gap-1"
              href="#"
              [ngClass]="{
                breadcrumb: isActiveType('job'),
                active: isActiveType('job'),
                inActive: !isActiveType('job')
              }"
              (click)="toggleType('job', $event)"
            >
              Engineering Job
            </a>
            <a
              class="text-decoration-none d-flex align-items-center gap-1"
              href="#"
              [ngClass]="{
                breadcrumb: isActiveType('service'),
                active: isActiveType('service'),
                inActive: !isActiveType('service')
              }"
              (click)="toggleType('service', $event)"
            >
              Service
            </a>
          </div>
        </div>
        <div class="info d-flex flex-column gap-1">
          <h3>Status</h3>
          <div class="d-flex align-items-center mb-4 gap-2">
            <a class="text-decoration-none d-flex align-items-center" href="#" [ngClass]="{
              breadcrumb: isActiveStatus('Approved'),
              active: isActiveStatus('Approved'),
              inActive: !isActiveStatus('Approved')
            }" (click)="toggleStatus('Approved', $event)">
              Approved
            </a>
            <a class="text-decoration-none d-flex align-items-center gap-1" href="#" [ngClass]="{
              breadcrumb: isActiveStatus('Rejected'),
              active: isActiveStatus('Rejected'),
              inActive: !isActiveStatus('Rejected')
            }" (click)="toggleStatus('Rejected', $event)">
              Rejected
            </a>
            <a class="text-decoration-none d-flex align-items-center gap-1" href="#" [ngClass]="{
              breadcrumb: isActiveStatus('Pending'),
              active: isActiveStatus('Pending'),
              inActive: !isActiveStatus('Pending')
            }" (click)="toggleStatus('Pending', $event)">
              Pending
            </a>
          </div>
        </div>
        <button type="button" class="filter-btn m-auto d-block" (click)="filter()">Filter</button>
      </div>
    </div>
  </div>
</div>
