<div
  class="modal fade"
  id="addUserModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <form [formGroup]="form">
      <div class="modal-content d-flex">
        <div class="modal-header p-2 z-1">
          <h1 class="modal-title" id="exampleModalLabel">
            {{ "add_new_user" | translate }}
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            [ngClass]="
              translateService.currentLang === 'ar' ? 'me-auto' : 'ms-auto'
            "
          ></button>
        </div>
        <div class="modal-body d-flex flex-column gap-3 mt-2">
          <div
            *ngIf="
              form.get('role')?.value === 'Customer' ||
              (form.get('role')?.value === 'Provider' &&
                providerCurrentStep === 0) ||
              (form.get('role')?.value === 'Merchant' &&
                merchantCurrentStep === 0)
            "
          >
            <div class="d-flex my-1" style="gap: 1rem">
              <div class="position-relative input-container">
                <label
                  for="Role"
                  class="position-absolute label-style"
                  [ngClass]="
                    currentLang === 'ar' ? 'label-style-rtl' : 'label-style-ltr'
                  "
                  >{{ "role" | translate }}</label
                >
                <div
                  class="input-style d-flex justify-content-between align-items-center text-black"
                  (click)="toggleDropdown()"
                >
                  {{
                    selectedVisibility
                      ? selectedVisibility
                      : ("choose_role" | translate)
                  }}
                  <img src="../../../../../assets/img/arrow-down-o.svg" />
                </div>
                <div
                  *ngIf="dropdownOpen"
                  id="dropdown"
                  class="dropdown-content d-flex flex-column gap-1"
                >
                  <label
                    class="d-flex align-items-center gap-2 mx-1"
                    *ngFor="let role of Role"
                  >
                    <input
                      type="radio"
                      name="flexRadioDefault"
                      [value]="role.name"
                      (change)="updateSelectedRole(role.name)"
                    />
                    {{ role.name }}
                  </label>
                </div>
              </div>
              <div class="position-relative input-container">
                <label
                  for="name"
                  class="position-absolute label-style"
                  [ngClass]="
                    currentLang === 'ar' ? 'label-style-rtl' : 'label-style-ltr'
                  "
                  >{{ "name" | translate }}</label
                >
                <input
                  type="text"
                  id="title"
                  [placeholder]="'enter_name' | translate"
                  class="input-style"
                  formControlName="name"
                />
                <label
                  class="error"
                  *ngIf="form.get('name')?.touched && form.get('name')?.invalid"
                >
                  {{ "invalid_name" | translate }}</label
                >
              </div>
            </div>

            <div class="d-flex my-1" style="gap: 1rem">
              <div class="position-relative input-container">
                <label
                  for="phone"
                  class="position-absolute z-1 label-style"
                  [ngClass]="
                    currentLang === 'ar' ? 'label-style-rtl' : 'label-style-ltr'
                  "
                >
                  {{ "phone_number" | translate }}</label
                >
                <div class="input-wrapper">
                  <img
                    src="../../../../../assets/img/SA.svg"
                    class="flag-icon ps-1 position-absolute"
                  />
                  <input
                    type="text"
                    id="phone"
                    dir="ltr"
                    class="input-style"
                    formControlName="phoneNumber"
                    [placeholder]="'enter_phone_number' | translate"
                  />
                </div>
                <label
                  class="error"
                  *ngIf="
                    form.get('phoneNumber')?.touched &&
                    form.get('phoneNumber')?.invalid
                  "
                  >{{ "invalid_phone_number" | translate }}</label
                >
              </div>
              <div class="position-relative input-container">
                <label
                  for="Email"
                  class="position-absolute label-style"
                  [ngClass]="
                    currentLang === 'ar' ? 'label-style-rtl' : 'label-style-ltr'
                  "
                >
                  {{ "email" | translate }}
                </label>
                <input
                  type="email"
                  id="Email"
                  placeholder="{{ 'enter_email' | translate }}"
                  class="input-style"
                  formControlName="email"
                />
                <label
                  class="error"
                  *ngIf="
                    form.get('email')?.touched && form.get('email')?.invalid
                  "
                >
                  {{ "invalid_email" | translate }}
                </label>
              </div>
            </div>

            <div class="d-flex my-1" style="gap: 1rem">
              <div class="position-relative input-container">
                <label
                  for="Password"
                  class="position-absolute label-style"
                  [ngClass]="
                    currentLang === 'ar' ? 'label-style-rtl' : 'label-style-ltr'
                  "
                >
                  {{ "password" | translate }}</label
                >
                <input
                  type="{{ showPassword ? 'text' : 'password' }}"
                  id="Password"
                  placeholder="{{ 'enter_password' | translate }}"
                  class="input-style"
                  formControlName="password"
                />
                <label
                  class="error"
                  *ngIf="
                    form.get('password')?.touched &&
                    form.get('password')?.invalid
                  "
                >
                  {{ "invalid_password" | translate }}</label
                >
              </div>
              <div class="position-relative input-container">
                <label
                  for="confirmPassword"
                  class="position-absolute label-style"
                  [ngClass]="
                    currentLang === 'ar' ? 'label-style-rtl' : 'label-style-ltr'
                  "
                >
                  {{ "confirm_password" | translate }}
                </label>
                <input
                  type="{{ showConfirmPassword ? 'text' : 'password' }}"
                  id="confirmPassword"
                  placeholder="{{ 'confirm_password' | translate }}"
                  class="input-style"
                  formControlName="confirmPassword"
                />
                <label
                  class="error"
                  *ngIf="
                    form.get('confirmPassword')?.touched &&
                    (form.get('confirmPassword')?.invalid ||
                      form.get('password')?.value !=
                        form.get('confirmPassword')?.value)
                  "
                >
                  {{ "passwords_not_equal" | translate }}
                </label>
              </div>
            </div>
            <div class="d-flex my-1" style="gap: 1rem">
              <div class="position-relative input-container">
                <label
                  for="address"
                  class="position-absolute z-1 label-style"
                  [ngClass]="
                    currentLang === 'ar' ? 'label-style-rtl' : 'label-style-ltr'
                  "
                  >{{ "address" | translate }}</label
                >
                <input
                  type="text"
                  id="address"
                  class="input-style"
                  formControlName="address"
                  placeholder="{{ 'address' | translate }}"
                />
                <label
                  class="error"
                  *ngIf="
                    form.get('address')?.touched && form.get('address')?.invalid
                  "
                  >{{ "invalid_address" | translate }}</label
                >
              </div>
              <div class="position-relative input-container">
                <label
                  for="city"
                  class="position-absolute label-style"
                  [ngClass]="
                    currentLang === 'ar' ? 'label-style-rtl' : 'label-style-ltr'
                  "
                >
                  {{ "city" | translate }}
                </label>
                <input
                  type="text"
                  id="city"
                  a
                  class="input-style"
                  formControlName="city"
                  placeholder="{{ 'city' | translate }}"
                />
                <label
                  class="error"
                  *ngIf="form.get('city')?.touched && form.get('city')?.invalid"
                >
                  {{ "invalid_city" | translate }}
                </label>
              </div>
            </div>

            <div class="d-flex my-1" style="gap: 1rem">
              <div class="position-relative input-container">
                <label
                  for="neighborhood"
                  class="position-absolute z-1 label-style"
                  [ngClass]="
                    currentLang === 'ar' ? 'label-style-rtl' : 'label-style-ltr'
                  "
                  >{{ "neighborhood" | translate }}</label
                >
                <input
                  type="text"
                  id="neighborhood"
                  class="input-style"
                  placeholder="{{ 'neighborhood' | translate }}"
                  formControlName="neighborhood"
                />
                <label
                  class="error"
                  *ngIf="
                    form.get('neighborhood')?.touched &&
                    form.get('neighborhood')?.invalid
                  "
                >
                  {{ "invalid_neighborhood" | translate }}</label
                >
              </div>
              <div class="position-relative input-container">
                <label
                  for="profilePic"
                  class="position-absolute label-style"
                  [ngClass]="
                    currentLang === 'ar' ? 'label-style-rtl' : 'label-style-ltr'
                  "
                >
                  {{ "profile_picture" | translate }}
                </label>
                <input
                  type="file"
                  id="profilePic"
                  class="input-style"
                  (change)="onFilesSelected($event)"
                />
                <img *ngIf="!filePreview" [src]="filePreview" />
              </div>
            </div>
          </div>

          <!-- <div>PROVIDERR</div> -->
          <div
            *ngIf="form.get('role')?.value === 'Provider'"
            formGroupName="provider"
          >
            <div *ngIf="providerCurrentStep === 1">
              <div class="d-flex my-1" style="gap: 1rem">
                <div class="position-relative input-container">
                  <label
                    for="activityType"
                    class="position-absolute label-style"
                    [ngClass]="
                      currentLang === 'ar'
                        ? 'label-style-rtl'
                        : 'label-style-ltr'
                    "
                  >
                    {{ "activity_type" | translate }}
                  </label>
                  <div
                    class="input-style d-flex justify-content-between align-items-center text-black"
                    (click)="toggleDropdown()"
                  >
                    {{
                      selectedActivity
                        ? selectedActivity
                        : ("choose_activity" | translate)
                    }}
                    <img src="../../../../../assets/img/arrow-down-o.svg" />
                  </div>
                  <div
                    *ngIf="dropdownOpen"
                    id="dropdown"
                    class="dropdown-content d-flex flex-column gap-1"
                  >
                    <label
                      class="d-flex align-items-center gap-2 mx-1"
                      *ngFor="let activity of ActivityType"
                    >
                      <input
                        type="radio"
                        name="flexRadioDefault"
                        [value]="activity.label"
                        (change)="updateSelectedActivityType(activity)"
                      />
                      {{ activity.label }}
                    </label>
                  </div>
                </div>
              </div>

              <div class="d-flex my-1" style="gap: 1rem">
                <div class="position-relative input-container">
                  <label
                    for="ownerName"
                    class="position-absolute label-style"
                    [ngClass]="
                      currentLang === 'ar'
                        ? 'label-style-rtl'
                        : 'label-style-ltr'
                    "
                  >
                    {{ "owner_name" | translate }}
                  </label>
                  <input
                    id="ownerName"
                    class="input-style"
                    formControlName="ownerName"
                    type="text"
                    placeholder="{{ 'owner_name' | translate }}"
                  />
                  <label
                    class="error"
                    *ngIf="
                      form.get('provider')?.get('ownerName')?.touched &&
                      form.get('provider')?.get('ownerName')?.invalid
                    "
                  >
                    {{ "invalid_owner_name" | translate }}
                  </label>
                </div>

                <div class="position-relative input-container">
                  <label
                    for="licenseNumber"
                    class="position-absolute z-1 label-style"
                    [ngClass]="
                      currentLang === 'ar'
                        ? 'label-style-rtl'
                        : 'label-style-ltr'
                    "
                  >
                    {{ "license_number" | translate }}
                  </label>
                  <input
                    id="licenseNumber"
                    class="input-style"
                    formControlName="licenseNumber"
                    placeholder="{{ 'license_number' | translate }}"
                    type="text"
                  />
                  <label
                    class="error"
                    *ngIf="
                      form.get('provider')?.get('licenseNumber')?.touched &&
                      form.get('provider')?.get('licenseNumber')?.invalid
                    "
                  >
                    {{ "invalid_license_number" | translate }}
                  </label>
                </div>
              </div>

              <div class="d-flex my-1" style="gap: 1rem">
                <div class="position-relative input-container">
                  <label
                    for="serviceProvider"
                    class="position-absolute z-1 label-style"
                    [ngClass]="
                      currentLang === 'ar'
                        ? 'label-style-rtl'
                        : 'label-style-ltr'
                    "
                  >
                    {{ "service_provider" | translate }}
                  </label>
                  <input
                    id="serviceProvider"
                    class="input-style"
                    formControlName="serviceProvider"
                    type="text"
                    placeholder="{{ 'enter_service_provider' | translate }}"
                  />
                  <label
                    class="error"
                    *ngIf="
                      form.get('provider')?.get('serviceProvider')?.touched &&
                      form.get('provider')?.get('serviceProvider')?.invalid
                    "
                  >
                    {{ "invalid_service_provider" | translate }}
                  </label>
                </div>

                <div class="position-relative input-container">
                  <label
                    for="serviceDescription"
                    class="position-absolute label-style"
                    [ngClass]="
                      currentLang === 'ar'
                        ? 'label-style-rtl'
                        : 'label-style-ltr'
                    "
                  >
                    {{ "service_description" | translate }}
                  </label>
                  <input
                    id="serviceDescription"
                    placeholder="{{ 'enter_service_description' | translate }}"
                    class="input-style"
                    formControlName="serviceDescription"
                    type="text"
                  />
                  <label
                    class="error"
                    *ngIf="
                      form.get('provider')?.get('serviceDescription')
                        ?.touched &&
                      form.get('provider')?.get('serviceDescription')?.invalid
                    "
                  >
                    {{ "invalid_service_description" | translate }}
                  </label>
                </div>
              </div>

              <div class="d-flex my-1" style="gap: 1rem">
                <div class="position-relative input-container">
                  <label
                    for="commercialRegistration"
                    class="position-absolute z-1 label-style"
                    [ngClass]="
                      currentLang === 'ar'
                        ? 'label-style-rtl'
                        : 'label-style-ltr'
                    "
                  >
                    {{ "commercial_registration" | translate }}
                  </label>
                  <input
                    id="commercialRegistration"
                    class="input-style"
                    formControlName="commercialRegistration"
                    type="text"
                    placeholder="{{
                      'enter_commercial_registration' | translate
                    }}"
                  />
                  <label
                    class="error"
                    *ngIf="
                      form.get('provider')?.get('commercialRegistration')
                        ?.touched &&
                      form.get('provider')?.get('commercialRegistration')
                        ?.invalid
                    "
                  >
                    {{ "invalid_commercial_registration" | translate }}
                  </label>
                </div>
                <div class="position-relative input-container">
                  <label
                    for="commercialDate"
                    class="position-absolute label-style"
                    [ngClass]="
                      currentLang === 'ar'
                        ? 'label-style-rtl'
                        : 'label-style-ltr'
                    "
                  >
                    {{ "commercial_date" | translate }}
                  </label>
                  <input
                    id="commercialDate"
                    class="input-style"
                    formControlName="commercialDate"
                    type="date"
                    placeholder="{{ 'enter_commercial_date' | translate }}"
                  />
                  <label
                    class="error"
                    *ngIf="
                      form.get('provider')?.get('commercialDate')?.touched &&
                      form.get('provider')?.get('commercialDate')?.invalid
                    "
                  >
                    {{ "invalid_commercial_date" | translate }}
                  </label>
                </div>
              </div>

              <div class="d-flex my-1" style="gap: 1rem">
                <div class="position-relative input-container">
                  <label
                    for="managerName"
                    class="position-absolute z-1 label-style"
                    [ngClass]="
                      currentLang === 'ar'
                        ? 'label-style-rtl'
                        : 'label-style-ltr'
                    "
                  >
                    {{ "manager_name" | translate }}
                  </label>
                  <input
                    id="managerName"
                    class="input-style"
                    formControlName="managerName"
                    type="text"
                    placeholder="{{ 'enter_manager_name' | translate }}"
                  />
                  <label
                    class="error"
                    *ngIf="
                      form.get('provider')?.get('managerName')?.touched &&
                      form.get('provider')?.get('managerName')?.invalid
                    "
                  >
                    {{ "invalid_manager_name" | translate }}
                  </label>
                </div>

                <div class="position-relative input-container">
                  <label
                    for="managerPhoneNumber"
                    class="position-absolute label-style"
                    [ngClass]="
                      currentLang === 'ar'
                        ? 'label-style-rtl'
                        : 'label-style-ltr'
                    "
                  >
                    {{ "manager_phone_number" | translate }}
                  </label>
                  <input
                    id="managerPhoneNumber"
                    class="input-style"
                    formControlName="managerPhoneNumber"
                    type="text"
                    placeholder="{{ 'enter_manager_phone_number' | translate }}"
                  />
                  <label
                    class="error"
                    *ngIf="
                      form.get('provider')?.get('managerPhoneNumber')
                        ?.touched &&
                      form.get('provider')?.get('managerPhoneNumber')?.invalid
                    "
                  >
                    {{ "invalid_manager_phone_number" | translate }}
                  </label>
                </div>
              </div>
            </div>

            <div *ngIf="providerCurrentStep === 2">
              <div class="d-flex my-1" style="gap: 1rem">
                <div class="position-relative input-container">
                  <label
                    for="latitude"
                    class="position-absolute z-1 label-style"
                    [ngClass]="
                      currentLang === 'ar'
                        ? 'label-style-rtl'
                        : 'label-style-ltr'
                    "
                  >
                    {{ "latitude" | translate }}
                  </label>
                  <input
                    id="latitude"
                    class="input-style"
                    formControlName="latitude"
                    type="number"
                    placeholder="{{ 'enter_latitude' | translate }}"
                  />
                  <label
                    class="error"
                    *ngIf="
                      form.get('provider')?.get('latitude')?.touched &&
                      form.get('provider')?.get('latitude')?.invalid
                    "
                  >
                    {{ "invalid_latitude" | translate }}
                  </label>
                </div>

                <div class="position-relative input-container">
                  <label
                    for="longitude"
                    class="position-absolute label-style"
                    [ngClass]="
                      currentLang === 'ar'
                        ? 'label-style-rtl'
                        : 'label-style-ltr'
                    "
                  >
                    {{ "longitude" | translate }}
                  </label>
                  <input
                    id="longitude"
                    class="input-style"
                    formControlName="longitude"
                    type="number"
                    placeholder="{{ 'enter_longitude' | translate }}"
                  />
                  <label
                    class="error"
                    *ngIf="
                      form.get('provider')?.get('longitude')?.touched &&
                      form.get('provider')?.get('longitude')?.invalid
                    "
                  >
                    {{ "invalid_longitude" | translate }}
                  </label>
                </div>
              </div>

              <div class="d-flex my-1" style="gap: 1rem">
                <div class="position-relative input-container">
                  <label
                    for="region"
                    class="position-absolute z-1 label-style"
                    [ngClass]="
                      currentLang === 'ar'
                        ? 'label-style-rtl'
                        : 'label-style-ltr'
                    "
                  >
                    {{ "region" | translate }}
                  </label>
                  <input
                    id="region"
                    class="input-style"
                    formControlName="region"
                    type="text"
                    placeholder="{{ 'enter_region' | translate }}"
                  />
                  <label
                    class="error"
                    *ngIf="
                      form.get('provider')?.get('region')?.touched &&
                      form.get('provider')?.get('region')?.invalid
                    "
                  >
                    {{ "invalid_region" | translate }}
                  </label>
                </div>
              </div>
            </div>
          </div>
          <!-- <div>PROVIDERR</div> -->

          <!-- <div>Merchant</div> -->
          <div
            *ngIf="form.get('role')?.value === 'Merchant'"
            formGroupName="merchant"
          >
            <div *ngIf="merchantCurrentStep === 1">
              <div class="d-flex my-1" style="gap: 1rem">
                <div class="position-relative input-container">
                  <label
                    for="facilityActivity"
                    class="position-absolute z-1 label-style"
                    [ngClass]="
                      currentLang === 'ar'
                        ? 'label-style-rtl'
                        : 'label-style-ltr'
                    "
                  >
                    {{ "facility_activity" | translate }}
                  </label>
                  <input
                    id="facilityActivity"
                    class="input-style"
                    formControlName="facilityActivity"
                    type="text"
                    placeholder="{{ 'enter_facility_activity' | translate }}"
                  />
                  <label
                    class="error"
                    *ngIf="
                      form.get('merchant')?.get('facilityActivity')?.touched &&
                      form.get('merchant')?.get('facilityActivity')?.invalid
                    "
                  >
                    {{ "invalid_facility_activity" | translate }}
                  </label>
                </div>

                <div class="position-relative input-container">
                  <label
                    for="commercialRegistration"
                    class="position-absolute z-1 label-style"
                    [ngClass]="
                      currentLang === 'ar'
                        ? 'label-style-rtl'
                        : 'label-style-ltr'
                    "
                  >
                    {{ "commercial_registration" | translate }}
                  </label>
                  <input
                    id="commercialRegistration"
                    class="input-style"
                    formControlName="commercialRegistration"
                    type="text"
                    placeholder="{{
                      'enter_commercial_registration' | translate
                    }}"
                  />
                  <label
                    class="error"
                    *ngIf="
                      form.get('merchant')?.get('commercialRegistration')
                        ?.touched &&
                      form.get('merchant')?.get('commercialRegistration')
                        ?.invalid
                    "
                  >
                    {{ "invalid_commercial_registration" | translate }}
                  </label>
                </div>
              </div>

              <div class="d-flex my-1" style="gap: 1rem">
                <div class="position-relative input-container">
                  <label
                    for="ownerName"
                    class="position-absolute label-style"
                    [ngClass]="
                      currentLang === 'ar'
                        ? 'label-style-rtl'
                        : 'label-style-ltr'
                    "
                  >
                    {{ "owner_name" | translate }}
                  </label>
                  <input
                    id="ownerName"
                    class="input-style"
                    formControlName="ownerName"
                    type="text"
                    placeholder="{{ 'owner_name' | translate }}"
                  />
                  <label
                    class="error"
                    *ngIf="
                      form.get('merchant')?.get('ownerName')?.touched &&
                      form.get('merchant')?.get('ownerName')?.invalid
                    "
                  >
                    {{ "invalid_owner_name" | translate }}
                  </label>
                </div>

                <div class="position-relative input-container">
                  <label
                    for="licenseNumber"
                    class="position-absolute z-1 label-style"
                    [ngClass]="
                      currentLang === 'ar'
                        ? 'label-style-rtl'
                        : 'label-style-ltr'
                    "
                  >
                    {{ "license_number" | translate }}
                  </label>
                  <input
                    id="licenseNumber"
                    class="input-style"
                    formControlName="licenseNumber"
                    type="text"
                    placeholder="{{ 'license_number' | translate }}"
                  />
                  <label
                    class="error"
                    *ngIf="
                      form.get('merchant')?.get('licenseNumber')?.touched &&
                      form.get('merchant')?.get('licenseNumber')?.invalid
                    "
                  >
                    {{ "invalid_license_number" | translate }}
                  </label>
                </div>
              </div>

              <div class="d-flex my-1" style="gap: 1rem">
                <div class="position-relative input-container">
                  <label
                    for="serviceProvider"
                    class="position-absolute z-1 label-style"
                    [ngClass]="
                      currentLang === 'ar'
                        ? 'label-style-rtl'
                        : 'label-style-ltr'
                    "
                  >
                    {{ "service_provider" | translate }}
                  </label>
                  <input
                    id="serviceProvider"
                    class="input-style"
                    formControlName="serviceProvider"
                    type="text"
                    placeholder="{{ 'enter_service_provider' | translate }}"
                  />
                  <label
                    class="error"
                    *ngIf="
                      form.get('merchant')?.get('serviceProvider')?.touched &&
                      form.get('merchant')?.get('serviceProvider')?.invalid
                    "
                  >
                    {{ "invalid_service_provider" | translate }}
                  </label>
                </div>

                <div class="position-relative input-container">
                  <label
                    for="serviceDescription"
                    class="position-absolute label-style"
                    [ngClass]="
                      currentLang === 'ar'
                        ? 'label-style-rtl'
                        : 'label-style-ltr'
                    "
                  >
                    {{ "service_description" | translate }}
                  </label>
                  <input
                    id="serviceDescription"
                    placeholder="{{ 'enter_service_description' | translate }}"
                    class="input-style"
                    formControlName="serviceDescription"
                    type="text"
                  />
                  <label
                    class="error"
                    *ngIf="
                      form.get('merchant')?.get('serviceDescription')
                        ?.touched &&
                      form.get('merchant')?.get('serviceDescription')?.invalid
                    "
                  >
                    {{ "invalid_service_description" | translate }}
                  </label>
                </div>
              </div>

              <div class="d-flex my-1" style="gap: 1rem">
                <div class="position-relative input-container">
                  <label
                    for="managerName"
                    class="position-absolute z-1 label-style"
                    [ngClass]="
                      currentLang === 'ar'
                        ? 'label-style-rtl'
                        : 'label-style-ltr'
                    "
                  >
                    {{ "manager_name" | translate }}
                  </label>
                  <input
                    id="managerName"
                    class="input-style"
                    formControlName="managerName"
                    type="text"
                    placeholder="{{ 'manager_name' | translate }}"
                  />
                  <label
                    class="error"
                    *ngIf="
                      form.get('merchant')?.get('managerName')?.touched &&
                      form.get('merchant')?.get('managerName')?.invalid
                    "
                  >
                    {{ "invalid_manager_name" | translate }}
                  </label>
                </div>

                <div class="position-relative input-container">
                  <label
                    for="managerPhoneNumber"
                    class="position-absolute label-style"
                    [ngClass]="
                      currentLang === 'ar'
                        ? 'label-style-rtl'
                        : 'label-style-ltr'
                    "
                  >
                    {{ "manager_phone_number" | translate }}
                  </label>
                  <input
                    id="managerPhoneNumber"
                    class="input-style"
                    formControlName="managerPhoneNumber"
                    type="text"
                    placeholder="{{ 'manager_phone_number' | translate }}"
                  />
                  <label
                    class="error"
                    *ngIf="
                      form.get('merchant')?.get('managerPhoneNumber')
                        ?.touched &&
                      form.get('merchant')?.get('managerPhoneNumber')?.invalid
                    "
                  >
                    {{ "invalid_manager_phone_number" | translate }}
                  </label>
                </div>
              </div>
            </div>

            <div *ngIf="merchantCurrentStep === 2">
              <div class="d-flex my-1" style="gap: 1rem">
                <div class="position-relative input-container">
                  <label
                    for="latitude"
                    class="position-absolute z-1 label-style"
                    [ngClass]="
                      currentLang === 'ar'
                        ? 'label-style-rtl'
                        : 'label-style-ltr'
                    "
                  >
                    {{ "latitude" | translate }}
                  </label>
                  <input
                    id="latitude"
                    class="input-style"
                    formControlName="latitude"
                    type="number"
                    placeholder="{{ 'latitude' | translate }}"
                  />
                  <label
                    class="error"
                    *ngIf="
                      form.get('merchant')?.get('latitude')?.touched &&
                      form.get('merchant')?.get('latitude')?.invalid
                    "
                  >
                    {{ "invalid_latitude" | translate }}
                  </label>
                </div>

                <div class="position-relative input-container">
                  <label
                    for="longitude"
                    class="position-absolute label-style"
                    [ngClass]="
                      currentLang === 'ar'
                        ? 'label-style-rtl'
                        : 'label-style-ltr'
                    "
                  >
                    {{ "longitude" | translate }}
                  </label>
                  <input
                    id="longitude"
                    class="input-style"
                    formControlName="longitude"
                    type="number"
                    placeholder="{{ 'longitude' | translate }}"
                  />
                  <label
                    class="error"
                    *ngIf="
                      form.get('merchant')?.get('longitude')?.touched &&
                      form.get('merchant')?.get('longitude')?.invalid
                    "
                  >
                    {{ "invalid_longitude" | translate }}
                  </label>
                </div>
              </div>

              <div class="d-flex my-1" style="gap: 1rem">
                <div class="position-relative input-container">
                  <label
                    for="region"
                    class="position-absolute z-1 label-style"
                    [ngClass]="
                      currentLang === 'ar'
                        ? 'label-style-rtl'
                        : 'label-style-ltr'
                    "
                  >
                    {{ "region" | translate }}
                  </label>
                  <input
                    id="region"
                    class="input-style"
                    formControlName="region"
                    type="text"
                    placeholder="{{ 'region' | translate }}"
                  />
                  <label
                    class="error"
                    *ngIf="
                      form.get('merchant')?.get('region')?.touched &&
                      form.get('merchant')?.get('region')?.invalid
                    "
                  >
                    {{ "invalid_region" | translate }}
                  </label>
                </div>
              </div>
            </div>
          </div>
          <!-- <div>Merchant</div> -->
        </div>
        <!-- {{form.value | json}} -->
        <div
          class="d-flex gap-3 justify-content-end"
          style="margin: 20px 10px 20px 0px"
        >
          <button
            *ngIf="
              (form.get('role')?.value === 'Provider' &&
                providerCurrentStep > 0) ||
              (form.get('role')?.value === 'Merchant' &&
                merchantCurrentStep > 0)
            "
            type="button"
            class="approve-btn"
            type="button"
            (click)="previousStep()"
          >
            {{ "back" | translate }}
          </button>
          <button
            *ngIf="
              (form.get('role')?.value === 'Provider' &&
                providerCurrentStep < 2) ||
              (form.get('role')?.value === 'Merchant' &&
                merchantCurrentStep < 2)
            "
            type="button"
            class="approve-btn"
            type="button"
            (click)="nextStep()"
          >
            {{ "next" | translate }}
          </button>
          <button
            *ngIf="
              form.get('role')?.value === 'Customer' ||
              (form.get('role')?.value === 'Provider' &&
                providerCurrentStep === 2) ||
              (form.get('role')?.value === 'Merchant' &&
                merchantCurrentStep === 2)
            "
            type="submit"
            class="approve-btn"
            (click)="onSubmit()"
            [disabled]="!isFormValid()"
            data-bs-dismiss="modal"
          >
            {{ "add" | translate }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
