<div class="modal fade" id="transactionsFilterModal" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content d-flex">
      <div class="modal-header p-2 z-1">
        <h1 class="modal-title" id="exampleModalLabel">Filter</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="info d-flex flex-column gap-1">
          <h3>Status</h3>
          <div class="d-flex align-items-center mb-4 gap-2">
            <a class="text-decoration-none d-flex align-items-center" href="#" [ngClass]="{
              breadcrumb: isActiveLink('paid'),
              active: isActiveLink('paid'),
              inActive: !isActiveLink('paid')
            }" (click)="toggleStatus('paid', $event)">

              Paid
              <span *ngIf="isActiveStatus('paid')">
                ✖
              </span>
            </a>
            <a class="text-decoration-none d-flex align-items-center" href="#" [ngClass]="{
                breadcrumb: isActiveLink('Approved'),
                active: isActiveLink('Approved'),
                inActive: !isActiveLink('Approved')
              }" (click)="toggleStatus('Approved', $event)">

              Approved
              <span *ngIf="isActiveStatus('Approved')">
                ✖
              </span>
            </a>
            <!-- <a class="text-decoration-none d-flex align-items-center gap-1" href="#" [ngClass]="{
                breadcrumb: isActiveLink('Pending'),
                active: isActiveLink('Pending'),
                inActive: !isActiveLink('Pending')
              }" (click)="toggleStatus('Pending', $event)">
              Pending
              <span *ngIf="isActiveStatus('Pending')">
                ✖
              </span>
            </a> -->
            <a class="text-decoration-none d-flex align-items-center gap-1" href="#" [ngClass]="{
                breadcrumb: isActiveLink('Rejected'),
                active: isActiveLink('Rejected'),
                inActive: !isActiveLink('Rejected')
              }" (click)="toggleStatus('Rejected', $event)">
              Rejected
              <span *ngIf="isActiveStatus('Rejected')">
                ✖
              </span>
            </a>
            <a class="text-decoration-none d-flex align-items-center gap-1" href="#" [ngClass]="{
                breadcrumb: isActiveLink('Refund'),
                active: isActiveLink('Refund'),
                inActive: !isActiveLink('Refund')
              }" (click)="toggleStatus('Refund', $event)">
              Refund
              <span *ngIf="isActiveStatus('Refund')">
                ✖
              </span>
            </a>
          </div>
        </div>
        <div class="info d-flex flex-column">
          <h3 class="m-0">Amount</h3>
          <div class="range-slider">
            <div id="range-highlight" #rangeHighlight class="range-highlight"></div>
            <input type="range" min="100" max="5000" value="100" id="minRange" #minRange class="form-range" />
            <input type="range" min="100" max="5000" value="5000" id="maxRange" #maxRange class="form-range" />
          </div>
          <div class="range-labels d-flex justify-content-between">
            <span id="slider-min-value" #sliderMinValue>$100</span>
            <span id="slider-max-value" #sliderMaxValue>$5000</span>
          </div>
        </div>
        <button type="button" class="filter-btn m-auto d-block" (click)="filter()">Filter</button>
      </div>
    </div>
  </div>
</div>
