<div class="user-style">
  <app-dashboard-title></app-dashboard-title>
  <app-dashboard-cards [dashboardSummary]="dashboardSummary"></app-dashboard-cards>
  <div class="d-flex" style="
  gap: 2rem !important;
">
    <app-dashboard-users-chart [dashboardSummary]="dashboardSummary"></app-dashboard-users-chart>
    <app-dashboard-requests-statistics [dashboardSummary]="dashboardSummary"></app-dashboard-requests-statistics>
  </div>
  <app-dashboard-last-activity></app-dashboard-last-activity>
</div>