/* Left-to-right breadcrumb */
.breadcrumb-ltr .breadcrumb-item + .breadcrumb-item::before {
  float: left;
  padding-right: 0.5rem;
  padding-left: 0;
  content: "/";
}

/* Right-to-left breadcrumb */
.breadcrumb-rtl .breadcrumb-item + .breadcrumb-item::before {
  float: right;
  padding-left: 0.5rem;
  padding-right: 0;
  content: "/";
}
