<div class="table-container mx-3">
  <div class="d-flex flex-wrap align-items-center gap-3 mb-3">
    <div
      class="d-flex align-items-center gap-2 px-3 py-2 rounded-4 shadow-sm"
      style="background-color: #fff6ec; min-width: 350px; max-width: 800px"
    >
      <label
        for="monthSelect"
        class="mb-0 fw-semibold text-muted"
        style="font-size: 1rem"
      >
        {{ "choose_month" | translate }}
      </label>
      <select
        id="monthSelect"
        class="form-select form-select-sm"
        style="min-width: 100px"
        [(ngModel)]="selectedMonth"
        (change)="updateMonthlyUserCount()"
      >
        <option [value]="'all'">{{ "all_months" | translate }}</option>
        <option *ngFor="let month of months" [value]="month.value">
          {{ month.name }}
        </option>
      </select>

      <label
        for="yearSelect"
        class="mb-0 fw-semibold text-muted ms-2"
        style="font-size: 1rem"
      >
        {{ "choose_year" | translate }}
      </label>
      <select
        id="yearSelect"
        class="form-select form-select-sm"
        style="min-width: 90px"
        [(ngModel)]="selectedYear"
        (change)="updateMonthlyUserCount()"
      >
        <option [value]="'all'">{{ "all_years" | translate }}</option>
        <option *ngFor="let year of years" [value]="year">
          {{ year }}
        </option>
      </select>

      <span class="ms-2 fw-bold text-orange" style="font-size: 1.05rem">
        {{ "request_registered" | translate }}:
        <span
          class="badge bg-white text-orange border border-warning rounded-pill px-3 py-2"
          style="font-size: 1.1rem"
        >
          {{ monthlyUserCount }}
        </span>
      </span>
    </div>
  </div>

  <table class="table my-4">
    <thead class="table-light">
      <tr>
        <th scope="col">
          <input
            type="checkbox"
            [(ngModel)]="selectAll"
            (change)="toggleAll()"
          />
        </th>
        <th scope="col" class="title-table">
          <p class="m-0">{{ "name" | translate }}</p>
        </th>
        <th scope="col" class="title-table">
          <p class="m-0">{{ "role" | translate }}</p>
        </th>
        <th scope="col" class="title-table">
          <p class="m-0">{{ "registered" | translate }}</p>
        </th>
        <th scope="col" class="title-table">
          <p class="m-0">{{ "address" | translate }}</p>
        </th>
        <th scope="col" class="title-table">
          <p class="m-0">{{ "phone_number" | translate }}</p>
        </th>
        <th scope="col" class="title-table">
          <p class="m-0">{{ "spent" | translate }}</p>
        </th>
        <th scope="col" class="title-table">
          <p class="m-0">{{ "status" | translate }}</p>
        </th>
        <th scope="col" class="title-table">
          <p class="m-0">{{ "actions" | translate }}</p>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of paginatedUsers">
        <th scope="row">
          <input
            type="checkbox"
            [(ngModel)]="user.selected"
            (change)="checkIfAllSelected()"
          />
        </th>
        <td>
          <div class="d-flex flex-column gap-1">
            <h3 class="m-0">{{ user.name }}</h3>
            <h5 class="m-0">{{ user.email }}</h5>
          </div>
        </td>
        <td>
          <h4 class="m-0">{{ user.role }}</h4>
        </td>
        <td>
          <h4 class="m-0">{{ user.registeredDate }}</h4>
        </td>
        <td>
          <h4 class="m-0">
            {{
              user?.sellerDetails?.address ||
                user?.providerDetails?.address ||
                user?.customerDetails?.address
            }}
          </h4>
        </td>
        <td>
          <h4 class="m-0">{{ user.mobile }}</h4>
        </td>
        <td>
          <h4 class="m-0">{{ user.spent }}</h4>
        </td>
        <td>
          <h4
            [ngClass]="{
              green: user.status === 'Approved',
              red: user.status === 'Rejected',
              orange: user.status === 'Pending'
            }"
            [ngStyle]="
              user.status === 'Approved'
                ? {
                    padding:
                      currentLang === 'ar'
                        ? '8px 25px 6px 25px'
                        : '8px 4px 6px 7px'
                  }
                : user.status === 'Pending'
                ? {
                    padding:
                      currentLang === 'ar'
                        ? '8px 15px 6px 13px'
                        : '8px 4px 6px 12px'
                  }
                : {}
            "
            class="m-0"
          >
            {{ user.status.toLowerCase() | translate }}
          </h4>
        </td>
        <td>
          <div class="d-flex align-items-center justify-content-between">
            <ng-container *appHasPermission="{ page: 'users', action: 'READ' }">
              <img
                class="cursor-pointer"
                src="../../../../assets/img/eye.svg"
                alt="View"
                data-bs-toggle="modal"
                data-bs-target="#viewModal"
                (click)="setUserId(user.id)"
              />
            </ng-container>

            <ng-container *appHasPermission="{ page: 'users', action: 'EDIT' }">
              <img
                class="cursor-pointer"
                src="../../../../assets/img/edit-2.svg"
                alt="Edit"
                (click)="setUserId(user.id)"
              />
              <label class="toggle">
                <input type="checkbox" (change)="updateStatus(user.id)" />
                <span class="slider round"></span>
              </label>
            </ng-container>

            <ng-container
              *appHasPermission="{ page: 'users', action: 'DELETE' }"
            >
              <img
                class="cursor-pointer"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                src="../../../../assets/img/trash.svg"
                alt="Delete"
                (click)="setUserId(user.id)"
              />
            </ng-container>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <app-user-filter-modal></app-user-filter-modal>
  <app-user-delete-modal [userId]="user?.id"></app-user-delete-modal>
  <app-user-show-modal [user]="user"></app-user-show-modal>

  <div
    class="font d-flex align-items-center justify-content-between my-4 pagination-space"
  >
    <h5 class="left m-0">
      {{ "showing" | translate }} {{ (currentPage - 1) * itemsPerPage + 1 }}
      {{ "to" | translate }}
      {{ Math.min(currentPage * itemsPerPage, userList.length) }}
      {{ "of" | translate }} {{ userList.length }} {{ "entries" | translate }}
    </h5>
    <nav aria-label="Page navigation example">
      <nav aria-label="Page navigation example">
        <ul class="pagination gap-2 m-0 align-items-center">
          <!-- Previous -->
          <li class="page-item" [class.disabled]="currentPage === 1">
            <a
              class="page-link previous"
              href="#"
              aria-label="Previous"
              (click)="setPage(currentPage - 1, $event)"
            >
              <span aria-hidden="true" *ngIf="currentLang !== 'ar'">
                <img
                  src="../../../../../assets/img/arrow-left.svg"
                  alt="Previous"
                />
              </span>
              <span aria-hidden="true" *ngIf="currentLang === 'ar'">
                <img
                  src="../../../../../assets/img/arrow-right.svg"
                  alt="السابق"
                />
              </span>
            </a>
          </li>
          <!-- Page Number Links -->
          <li
            *ngFor="let page of getPagination()"
            class="page-item"
            [class.active]="page === currentPage"
            [class.disabled]="page === -1"
          >
            <a
              class="page-link"
              href="#"
              *ngIf="page !== -1"
              (click)="setPage(page, $event)"
            >
              {{ page }}
            </a>
            <span class="page-link" *ngIf="page === -1">...</span>
          </li>
          <li
            class="page-item"
            [class.disabled]="
              currentPage === Math.ceil(userList.length / itemsPerPage)
            "
          >
            <a
              class="page-link next"
              href="#"
              aria-label="Next"
              (click)="setPage(currentPage + 1, $event)"
            >
              <span aria-hidden="true" *ngIf="currentLang !== 'ar'">
                <img
                  src="../../../../../assets/img/arrow-right.svg"
                  alt="Next"
                />
              </span>
              <span aria-hidden="true" *ngIf="currentLang === 'ar'">
                <img
                  src="../../../../../assets/img/arrow-left.svg"
                  alt="التالي"
                />
              </span>
            </a>
          </li>
        </ul>
      </nav>
    </nav>

    <div class="font d-flex align-items-center">
      <h5 class="m-0 me-2">{{ "show" | translate }}</h5>

      <div class="select-wrapper">
        <select
          class="form-select mx-2 custom-select"
          [(ngModel)]="itemsPerPage"
          (change)="setPage(1, $event)"
        >
          <option *ngFor="let option of [4, 10, 20, 50, 100]" [value]="option">
            {{ option }}
          </option>
        </select>
        <i class="fa-solid fa-chevron-down custom-select-icon"></i>
      </div>
      <h5 class="m-0 ms-2">{{ "entries" | translate }}</h5>
    </div>
  </div>
</div>
