<div class="d-flex flex-column gap-5 mt-5">
  <ng-container *ngIf="(user?.providerDetails?.userFiles || user?.sellerDetails?.userFiles) as userFiles">
  <ng-container *ngFor="let file of userFiles">
    <div class="d-flex justify-content-between">
      <div class="d-flex align-items-center gap-3">
        <img src="file?.filePath" alt="" srcset="" />
        <div class="d-flex flex-column">
          <h4 class="m-0">{{file?.fileName}}</h4>
          <p class="m-0">{{file.fileType}}, {{file.uploadDate}}</p>
        </div>
      </div>
      <img class="cursor-pointer" src="file?.filePath" alt="" srcset="" />

    </div>
  </ng-container>
  </ng-container>
</div>
