<div class="mx-3">
  <table class="table my-4">
    <thead class="table-light">
      <tr>
        <th scope="col">
          <input
            type="checkbox"
            [(ngModel)]="selectAll"
            (change)="toggleAll($event)"
          />
        </th>
        <th scope="col" class="title-table">
          <p class="m-0">{{ "id" | translate }}</p>
        </th>
        <th scope="col" class="title-table">
          <p class="m-0">{{ "request_title" | translate }}</p>
        </th>
        <th scope="col" class="title-table">
          <p class="m-0">{{ "provider_name" | translate }}</p>
        </th>
        <th scope="col" class="title-table">
          <p class="m-0">{{ "customer_name" | translate }}</p>
        </th>
        <th scope="col" class="title-table">
          <p class="m-0">{{ "date" | translate }}</p>
        </th>
        <th scope="col" class="title-table">
          <p class="m-0">{{ "status" | translate }}</p>
        </th>
        <th scope="col" class="title-table">
          <p class="m-0">{{ "actions" | translate }}</p>
        </th>
      </tr>
    </thead>
    <tbody *ngIf="allSubmissions.length">
      <ng-container *ngFor="let submission of paginatedSubmissions()">
        <tr>
          <th scope="row">
            <input
              type="checkbox"
              [(ngModel)]="submission.selected"
              (change)="checkIfAllSelected()"
            />
          </th>
          <td>
            <h4 class="m-0">{{ submission?.id }}</h4>
          </td>
          <td>
            <h4 class="m-0">{{ submission.requestTitle }}</h4>
          </td>
          <td>
            <h4 class="m-0">{{ submission.providerName }}</h4>
          </td>
          <td>
            <h4 class="m-0">{{ submission.customerName }}</h4>
          </td>
          <td>
            <h4 class="m-0">
              {{ submission.submittingDate | date : "longDate" }}
            </h4>
          </td>
          <td>
            <h4
              [ngClass]="{
                green: submission.status === 'Approved',
                red: submission.status === 'Rejected',
                orange: submission.status === 'Pending'
              }"
              [ngStyle]="
                submission.status === 'Approved'
                  ? {
                      padding:
                        currentLang === 'ar'
                          ? '8px 25px 6px 25px'
                          : '8px 4px 6px 7px'
                    }
                  : submission.status === 'Pending'
                  ? {
                      padding:
                        currentLang === 'ar'
                          ? '8px 15px 6px 13px'
                          : '8px 4px 6px 12px'
                    }
                  : {}
              "
              class="m-0"
            >
              {{ submission.status.toLowerCase() | translate }}
            </h4>
          </td>
          <td>
            <div>
              <img
                class="cursor-pointer ps-2"
                data-bs-toggle="modal"
                data-bs-target="#viewModal"
                src="../../../../assets/img/eye.svg"
                alt="View"
                (click)="openModal(submission)"
              />
              <img
                class="cursor-pointer ps-2"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                src="../../../../assets/img/trash.svg"
                alt="Delete"
              />
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
    <tbody *ngIf="!allSubmissions.length">
      <tr>
        <td colspan="8" class="text-center">
          {{ "no_data_available" | translate }}
        </td>
      </tr>
    </tbody>
  </table>

  <app-work-submission-delete-modal></app-work-submission-delete-modal>
  <app-work-submission-show-modal
    [submission]="selectedSubmission"
  ></app-work-submission-show-modal>

  <div class="font d-flex align-items-center justify-content-between my-4">
    <h5 class="left m-0">
      {{ "showing" | translate }}
      {{ (currentPage - 1) * itemsPerPage + 1 }}
      {{ "to" | translate }}
      {{ Math.min(currentPage * itemsPerPage, totalEntries) }}
      {{ "of" | translate }}
      {{ totalEntries }}
      {{ "entries" | translate }}
    </h5>

    <nav aria-label="Page navigation example">
      <ul class="pagination gap-2 m-0 align-items-center">
        <!-- Previous -->
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a
            class="page-link previous"
            href="#"
            aria-label="Previous"
            (click)="setPage(currentPage - 1, $event)"
          >
            <span aria-hidden="true" *ngIf="currentLang !== 'ar'">
              <img
                src="../../../../../assets/img/arrow-left.svg"
                alt="Previous"
              />
            </span>
            <span aria-hidden="true" *ngIf="currentLang === 'ar'">
              <img
                src="../../../../../assets/img/arrow-right.svg"
                alt="السابق"
              />
            </span>
          </a>
        </li>

        <!-- Page numbers -->
        <!-- <li
          class="page-item"
          *ngFor="
            let page of [].constructor(Math.ceil(totalEntries / itemsPerPage));
            let i = index
          "
          [class.active]="i + 1 === currentPage"
        >
          <a class="page-link" href="#" (click)="setPage(i + 1, $event)">{{
            i + 1
          }}</a>
        </li> -->

        <!-- Page Number Links -->
        <li
          *ngFor="let page of getPagination()"
          class="page-item"
          [class.active]="page === currentPage"
          [class.disabled]="page === -1"
        >
          <a
            class="page-link"
            href="#"
            *ngIf="page !== -1"
            (click)="setPage(page, $event)"
          >
            {{ page }}
          </a>
          <span class="page-link" *ngIf="page === -1">...</span>
        </li>

        <!-- Next -->
        <li
          class="page-item"
          [class.disabled]="
            currentPage === Math.ceil(totalEntries / itemsPerPage)
          "
        >
          <a
            class="page-link next"
            href="#"
            aria-label="Next"
            (click)="setPage(currentPage + 1, $event)"
          >
            <span aria-hidden="true" *ngIf="currentLang !== 'ar'">
              <img src="../../../../../assets/img/arrow-right.svg" alt="Next" />
            </span>
            <span aria-hidden="true" *ngIf="currentLang === 'ar'">
              <img
                src="../../../../../assets/img/arrow-left.svg"
                alt="التالي"
              />
            </span>
          </a>
        </li>
      </ul>
    </nav>

    <div class="font d-flex align-items-center">
      <h5 class="m-0 me-2">{{ "show" | translate }}</h5>
      <div class="select-wrapper">
        <select
          class="form-select mx-2 custom-select"
          [(ngModel)]="itemsPerPage"
          (change)="setPage(1, $event)"
        >
          <option *ngFor="let option of [4, 10, 20, 50, 100]" [value]="option">
            {{ option }}
          </option>
        </select>
        <i class="fa-solid fa-chevron-down custom-select-icon"></i>
      </div>
      <h5 class="m-0 ms-2">{{ "entries" | translate }}</h5>
    </div>
  </div>
</div>
