<div
  class="modal fade"
  id="viewModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content d-flex">
      <div class="modal-header p-2 z-1">
        <h1 class="modal-title" id="exampleModalLabel">Transaction Details</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- <div class="title d-flex align-items-start gap-2 flex-column mt-4"> -->
        <!-- <h1>Request Information:</h1> -->
        <div class="info d-flex flex-column align-items-start gap-3 mt-3">
          <h3 class="d-flex justify-content-between m-0">
            <span class="label">Transaction ID:</span>
            <span class="value">{{transaction?.id}}</span>
          </h3>
          <h3 class="d-flex justify-content-between m-0">
            <span class="label">Request ID:</span>
            <span class="value">{{transaction?.requestId}}</span>
          </h3>
          <h3 class="d-flex justify-content-between m-0">
            <span class="label">Title:</span>
            <span class="value">{{transaction?.title}}</span>
          </h3>
          <h3 class="d-flex justify-content-between m-0">
            <span class="label">Customer Name:</span>
            <span class="value">{{transaction?.customerName}}</span>
          </h3>
          <h3 class="d-flex justify-content-between m-0">
            <span class="label">Service Provider Name:</span>
            <span class="value">{{transaction?.serviceProviderName}}</span>
          </h3>
          <h3 class="d-flex justify-content-between m-0">
            <span class="label">Amount:</span>
            <span class="value">{{transaction?.amount}}</span>
          </h3>
          <h3 class="d-flex justify-content-between m-0">
            <span class="label">Date:</span>
            <span class="value">{{transaction?.submittingDate}}</span>
          </h3>
          <h3 class="d-flex justify-content-between m-0">
            <span class="label">Status:</span>
            <span class="value">{{transaction?.status}}</span>
          </h3>
          <h3 class="d-flex justify-content-between m-0">
            <span class="label">Payment Method:</span>
            <span class="value">{{transaction?.paymentType}}</span>
          </h3>
          <h3 class="d-flex justify-content-between m-0">
            <span class="label">Transaction Notes:</span>
            <span class="value">{{transaction?.details}}</span>
          </h3>
          <!-- </div> -->
        </div>
        <div class="title d-flex align-items-start gap-2 flex-column mt-4">
          <h1>Involved Parties:</h1>
          <div class="info d-flex flex-column align-items-start gap-3">
            <h3 class="d-flex justify-content-between m-0">
              <span class="label">Customer Name:</span>
              <span class="value">{{transaction?.requestOwner?.name}}</span>
            </h3>
            <h3 class="d-flex justify-content-between m-0">
              <span class="label">Customer Phone:</span>
              <span class="value">{{transaction?.requestOwner?.mobile}}</span>
            </h3>
            <h3 class="d-flex justify-content-between m-0">
              <span class="label">Customer Email:</span>
              <span class="value">{{transaction?.requestOwner?.email}}</span>
            </h3>
          </div>
        </div>
        <div class="title d-flex align-items-start gap-2 flex-column mt-4">
          <h1>Breakdown of Charges:</h1>
          <div class="info d-flex flex-column align-items-start gap-3">
            <h3 class="d-flex justify-content-between m-0">
              <span class="label">Service Fee:</span>
              <span class="value">{{transaction?.serviceFees}}</span>
            </h3>
            <h3 class="d-flex justify-content-between m-0">
              <span class="label">Taxes:</span>
              <span class="value">{{transaction?.taxes}}</span>
            </h3>
            <!-- <h3 class="d-flex justify-content-between m-0">
              <span class="label">Consolation Fee:</span>
              <span class="value">35 SAR</span>
            </h3> -->
          </div>
        </div>
        <div class="d-flex justify-content-between mt-4">
          <button
            type="button"
            class="reject-btn"
            data-bs-toggle="modal"
            data-bs-target="#rejectModal"
          >
            Reject
          </button>
          <button
            type="button"
            class="approve-btn"
            data-bs-toggle="modal"
            data-bs-target="#refundModal"
          >
            Refund
          </button>
          <button
            type="button"
            class="approve-btn"
            data-bs-toggle="modal"
            data-bs-target="#approveModal"
          >
          Approved
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-transactions-reject-modal  [transactionId] = "transaction?.id"></app-transactions-reject-modal>
<app-transactions-approve-modal [transactionId] = "transaction?.id"></app-transactions-approve-modal>
<app-transactions-refund-modal  [transactionId] = "transaction?.id"></app-transactions-refund-modal>
