<div class="mx-3">
  <table class="table my-4">
    <thead class="table-light">
      <tr>
        <th scope="col">
          <input
            type="checkbox"
            [(ngModel)]="selectAll"
            (change)="toggleAll($event)"
          />
        </th>
        <th scope="col" class="title-table">
          <p class="m-0">{{ "id" | translate }}</p>
        </th>
        <th scope="col" class="title-table">
          <p class="m-0">{{ "name" | translate }}</p>
        </th>
        <th scope="col" class="title-table">
          <p class="m-0">{{ "role" | translate }}</p>
        </th>
        <th scope="col" class="title-table">
          <p class="m-0">{{ "registered" | translate }}</p>
        </th>
        <th scope="col" class="title-table">
          <p class="m-0">{{ "phone_number" | translate }}</p>
        </th>
        <th scope="col" class="title-table">
          <p class="m-0">{{ "actions" | translate }}</p>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of paginatedUsers">
        <th scope="row">
          <input
            type="checkbox"
            [(ngModel)]="user.selected"
            (change)="checkIfAllSelected()"
          />
        </th>
        <td>
          <h4 class="m-0">{{ user.id }}</h4>
        </td>
        <td>
          <div class="d-flex flex-column gap-1">
            <h3 class="m-0">{{ user.name }}</h3>
            <h5 class="m-0">{{ user.email }}</h5>
          </div>
        </td>
        <td>
          <h4 class="m-0">{{ user.role }}</h4>
        </td>
        <td>
          <h4 class="m-0">{{ user.registeredDate }}</h4>
        </td>
        <td>
          <h4 class="m-0">{{ user.phoneNumber }}</h4>
        </td>
        <td>
          <div class="">
            <ng-container
              *appHasPermission="{ page: 'employees', action: 'EDIT' }"
            >
              <img
                class="cursor-pointer pe-2"
                data-bs-toggle="modal"
                data-bs-target="#editModal"
                src="../../../../../assets/img/edit-2.svg"
                alt="edit"
                (click)="selectEmployee(user)"
              />
            </ng-container>
            <ng-container
              *appHasPermission="{ page: 'employees', action: 'DELETE' }"
            >
              <img
                class="cursor-pointer ps-2"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                src="../../../../assets/img/trash.svg"
                alt="Delete"
                (click)="selectEmployee(user)"
              />
            </ng-container>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <app-employees-delete-modal
    [employee]="selectedEmployee"
  ></app-employees-delete-modal>
  <app-employees-edit-modal
    [employee]="selectedEmployee"
  ></app-employees-edit-modal>

  <div class="font d-flex align-items-center justify-content-between my-4">
    <h5 class="left m-0">
      {{ "showing" | translate }} {{ (currentPage - 1) * itemsPerPage + 1 }}
      {{ "to" | translate }}
      {{
        currentPage * itemsPerPage > users.length
          ? users.length
          : currentPage * itemsPerPage
      }}
      {{ "of" | translate }} {{ users.length }} {{ "entries" | translate }}
    </h5>

    <nav aria-label="Page navigation example">
      <ul class="pagination gap-2 m-0 align-items-center">
        <!-- Previous -->
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a
            class="page-link previous"
            href="#"
            aria-label="Previous"
            (click)="setPage(currentPage - 1, $event)"
          >
            <span aria-hidden="true" *ngIf="currentLang !== 'ar'">
              <img
                src="../../../../../assets/img/arrow-left.svg"
                alt="Previous"
              />
            </span>
            <span aria-hidden="true" *ngIf="currentLang === 'ar'">
              <img
                src="../../../../../assets/img/arrow-right.svg"
                alt="السابق"
              />
            </span>
          </a>
        </li>

        <li
          class="page-item"
          *ngFor="
            let page of [].constructor(Math.ceil(users.length / itemsPerPage));
            let i = index
          "
          [class.active]="i + 1 === currentPage"
        >
          <a class="page-link" href="#" (click)="setPage(i + 1, $event)">{{
            i + 1
          }}</a>
        </li>
        <li
          class="page-item"
          [class.disabled]="
            currentPage === Math.ceil(users.length / itemsPerPage)
          "
        >
          <a
            class="page-link next"
            href="#"
            aria-label="Next"
            (click)="setPage(currentPage + 1, $event)"
          >
            <span aria-hidden="true" *ngIf="currentLang !== 'ar'">
              <img src="../../../../../assets/img/arrow-right.svg" alt="Next" />
            </span>
            <span aria-hidden="true" *ngIf="currentLang === 'ar'">
              <img
                src="../../../../../assets/img/arrow-left.svg"
                alt="التالي"
              />
            </span>
          </a>
        </li>
      </ul>
    </nav>

    <div class="font d-flex align-items-center">
      <h5 class="m-0 me-2">{{ "show" | translate }}</h5>
      <div class="select-wrapper">
        <select
          class="form-select mx-2 custom-select"
          [(ngModel)]="itemsPerPage"
          (change)="setPage(1, $event)"
        >
          <option *ngFor="let option of [4, 10, 20, 50, 100]" [value]="option">
            {{ option }}
          </option>
        </select>
        <i class="fa-solid fa-chevron-down custom-select-icon"></i>
      </div>
      <h5 class="m-0 ms-2">{{ "entries" | translate }}</h5>
    </div>
  </div>
</div>
