<div class="last-activity d-flex flex-column border border-1 shadow-sm p-3 gap-4 mb-3">
    <h3>Last Activity</h3>
    <div class="d-flex flex-column gap-4">
        <div class="d-flex gap-3 align-items-center">
            <img src="../../../../../assets/img/s-r.svg" alt="" srcset="">
            <div class="d-flex align-items-center justify-content-between" style="
            width: 35vw;
        ">
                <div class="d-flex flex-column gap-2">
                    <h4 class="m-0">Activity Type</h4>
                    <h5 class="m-0">New Service Request</h5>
                </div>
                <div class="d-flex flex-column gap-2">
                    <h4 class="m-0">User Involved</h4>
                    <h5 class="m-0">John Doe - Customer</h5>
                </div>
                <div class="d-flex flex-column gap-2">
                    <h4 class="m-0">Timestamp</h4>
                    <h5 class="m-0">2024-06-26 10:00 AM</h5>
                </div>
            </div>
        </div>
        <div class="d-flex gap-3 align-items-center">
            <img src="../../../../../assets/img/proposal.svg" srcset="">
            <div class="d-flex align-items-center justify-content-between" style="
            width: 35vw;
        ">
                <div class="d-flex flex-column gap-2">
                    <h4 class="m-0">Activity Type</h4>
                    <h5 class="m-0">New Proposal</h5>
                </div>
                <div class="d-flex flex-column gap-2">
                    <h4 class="m-0">User Involved</h4>
                    <h5 class="m-0">John Doe - Provider</h5>
                </div>
                <div class="d-flex flex-column gap-2">
                    <h4 class="m-0">Timestamp</h4>
                    <h5 class="m-0">2024-06-26 10:00 AM</h5>
                </div>
            </div>
        </div>
        <div class="d-flex gap-3 align-items-center">
            <img src="../../../../../assets/img/activity-user.svg" srcset="">
            <div class="d-flex align-items-center justify-content-between" style="
            width: 35vw;
        ">
                <div class="d-flex flex-column gap-2">
                    <h4 class="m-0">Activity Type</h4>
                    <h5 class="m-0">New User</h5>
                </div>
                <div class="d-flex flex-column gap-2">
                    <h4 class="m-0">User Involved</h4>
                    <h5 class="m-0">John Doe - Customer</h5>
                </div>
                <div class="d-flex flex-column gap-2">
                    <h4 class="m-0">Timestamp</h4>
                    <h5 class="m-0">2024-06-26 10:00 AM</h5>
                </div>
            </div>
        </div>
    </div>
</div>