<div class="table-container mx-3">
  <div class="d-flex flex-wrap align-items-center gap-3 mb-3 px-3">
    <div
      class="d-flex align-items-center gap-2 px-3 py-2 rounded-4 shadow-sm"
      style="background-color: #fff6ec; min-width: 350px; max-width: 800px"
    >
      <label
        for="monthSelect"
        class="mb-0 fw-semibold text-muted"
        style="font-size: 1rem"
      >
        {{ "choose_month" | translate }}
      </label>
      <select
        id="monthSelect"
        class="form-select form-select-sm"
        style="min-width: 100px"
        [(ngModel)]="selectedMonth"
        (change)="updateMonthlyUserCount()"
      >
        <option [value]="'all'">{{ "all_months" | translate }}</option>
        <option *ngFor="let month of months" [value]="month.value">
          {{ month.name }}
        </option>
      </select>

      <label
        for="yearSelect"
        class="mb-0 fw-semibold text-muted ms-2"
        style="font-size: 1rem"
      >
        {{ "choose_year" | translate }}
      </label>
      <select
        id="yearSelect"
        class="form-select form-select-sm"
        style="min-width: 90px"
        [(ngModel)]="selectedYear"
        (change)="updateMonthlyUserCount()"
      >
        <option [value]="'all'">{{ "all_years" | translate }}</option>
        <option *ngFor="let year of years" [value]="year">
          {{ year }}
        </option>
      </select>

      <span class="ms-2 fw-bold text-orange" style="font-size: 1.05rem">
        {{ "request_registered" | translate }}:
        <span
          class="badge bg-white text-orange border border-warning rounded-pill px-3 py-2"
          style="font-size: 1.1rem"
        >
          {{ monthlyUserCount }}
        </span>
      </span>
    </div>
  </div>
  <table class="table my-4">
    <thead class="table-light">
      <tr>
        <th scope="col">
          <input
            type="checkbox"
            [(ngModel)]="selectAll"
            (change)="toggleAll($event)"
          />
        </th>
        <th scope="col" class="title-table">
          <p class="m-0">{{ "id" | translate }}</p>
        </th>
        <th scope="col" class="title-table">
          <p class="m-0">{{ "customer_name" | translate }}</p>
        </th>
        <th scope="col" class="title-table">
          <p class="m-0">{{ "request_title" | translate }}</p>
        </th>
        <th scope="col" class="title-table">
          <p class="m-0">{{ "date_submitted" | translate }}</p>
        </th>
        <th scope="col" class="title-table">
          <p class="m-0">{{ "type_of_service" | translate }}</p>
        </th>
        <th scope="col" class="title-table">
          <p class="m-0">{{ "status" | translate }}</p>
        </th>
        <th scope="col" class="title-table">
          <p class="m-0">{{ "actions" | translate }}</p>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of paginatedRequests">
        <th scope="row">
          <input
            type="checkbox"
            [(ngModel)]="request.selected"
            (change)="checkIfAllSelected()"
          />
        </th>
        <td>
          <h4 class="m-0">{{ request.requestId }}</h4>
        </td>
        <td>
          <h4 class="m-0">{{ request.requestOwner.name }}</h4>
        </td>
        <td>
          <h4 class="m-0">{{ request.title }}</h4>
        </td>
        <td>
          <h4 class="m-0">{{ request.creationDate }}</h4>
        </td>
        <td>
          <h4 class="m-0">{{ request.type }}</h4>
        </td>
        <td>
          <h4
            [ngClass]="{
              green: request.internalStatus === 'Approved',
              red: request.internalStatus === 'Rejected',
              orange: request.internalStatus === 'Pending',
              blue: request.status === 'active'
            }"
            [ngStyle]="
              request.internalStatus === 'Approved'
                ? {
                    padding:
                      currentLang === 'ar'
                        ? '8px 25px 6px 25px'
                        : '8px 4px 6px 7px'
                  }
                : request.internalStatus === 'Pending'
                ? {
                    padding:
                      currentLang === 'ar'
                        ? '8px 15px 6px 13px'
                        : '8px 4px 6px 12px'
                  }
                : {}
            "
            class="m-0"
          >
            {{
              request.status === "active"
                ? ("paid" | translate)
                : (request.internalStatus | lowercase | translate)
            }}
          </h4>
        </td>
        <td>
          <div class="img-space">
            <ng-container
              *appHasPermission="{ page: 'requests', action: 'READ' }"
            >
              <img
                class="cursor-pointer img-one"
                data-bs-toggle="modal"
                data-bs-target="#viewModal"
                src="../../../../assets/img/eye.svg"
                alt="View"
                (click)="setRequestId(request.requestId)"
              />
            </ng-container>

            <ng-container
              *appHasPermission="{ page: 'requests', action: 'EDIT' }"
            >
              <img
                class="cursor-pointer img-one"
                src="../../../../assets/img/edit-2.svg"
                alt="Edit"
                data-bs-toggle="modal"
                data-bs-target="#editModal"
                (click)="setRequestId(request.requestId)"
              />
            </ng-container>

            <ng-container
              *appHasPermission="{ page: 'requests', action: 'DELETE' }"
            >
              <img
                class="cursor-pointer"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                src="../../../../assets/img/trash.svg"
                alt="Delete"
                (click)="setRequestId(request.requestId)"
              />
            </ng-container>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <app-request-delete-modal [request]="request"></app-request-delete-modal>
  <app-request-show-modal [request]="request"></app-request-show-modal>
  <app-request-filter-modal></app-request-filter-modal>
  <app-request-edit-modal [request]="request"></app-request-edit-modal>
  <div
    class="font d-flex align-items-center justify-content-between my-4 pagination-space"
  >
    <h5 class="left m-0">
      {{ "showing" | translate }}
      {{ (currentPage - 1) * itemsPerPage + 1 }}
      {{ "to" | translate }}
      {{ Math.min(currentPage * itemsPerPage, requests.length) }}
      {{ "of" | translate }}
      {{ requests.length }}
      {{ "entries" | translate }}
    </h5>
    <nav aria-label="Page navigation example">
      <ul class="pagination gap-2 m-0 align-items-center">
        <!-- Previous Button -->
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a
            class="page-link previous"
            href="#"
            aria-label="Previous"
            (click)="setPage(currentPage - 1, $event)"
          >
            <span aria-hidden="true" *ngIf="currentLang !== 'ar'">
              <img
                src="../../../../../assets/img/arrow-left.svg"
                alt="Previous"
              />
            </span>
            <span aria-hidden="true" *ngIf="currentLang === 'ar'">
              <img
                src="../../../../../assets/img/arrow-right.svg"
                alt="السابق"
              />
            </span>
          </a>
        </li>

        <!-- Page Number Links -->
        <li
          *ngFor="let page of getPagination()"
          class="page-item"
          [class.active]="page === currentPage"
          [class.disabled]="page === -1"
        >
          <a
            class="page-link"
            href="#"
            *ngIf="page !== -1"
            (click)="setPage(page, $event)"
          >
            {{ page }}
          </a>
          <span class="page-link" *ngIf="page === -1">...</span>
        </li>

        <!-- Next Button -->
        <li
          class="page-item"
          [class.disabled]="
            currentPage === Math.ceil(requests.length / itemsPerPage)
          "
        >
          <a
            class="page-link next"
            href="#"
            aria-label="Next"
            (click)="setPage(currentPage + 1, $event)"
          >
            <span aria-hidden="true" *ngIf="currentLang !== 'ar'">
              <img src="../../../../../assets/img/arrow-right.svg" alt="Next" />
            </span>
            <span aria-hidden="true" *ngIf="currentLang === 'ar'">
              <img
                src="../../../../../assets/img/arrow-left.svg"
                alt="التالي"
              />
            </span>
          </a>
        </li>
      </ul>
    </nav>

    <div class="font d-flex align-items-center">
      <h5 class="m-0 me-2">{{ "show" | translate }}</h5>

      <div class="select-wrapper">
        <select
          class="form-select mx-2 custom-select"
          [(ngModel)]="itemsPerPage"
          (change)="setPage(1, $event)"
        >
          <option *ngFor="let option of [4, 10, 20, 50, 100]" [value]="option">
            {{ option }}
          </option>
        </select>
        <i class="fa-solid fa-chevron-down custom-select-icon"></i>
      </div>
      <h5 class="m-0 ms-2">{{ "entries" | translate }}</h5>
    </div>
  </div>
</div>
