.title-page {
  gap: 12px;
}
.breadcrumb-item a,
.title-page h2 {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -3%;
  color: #1c1c1c80;
}
.breadcrumb-item + .breadcrumb-item::before {
  float: left;
  padding-right: var(--bs-breadcrumb-item-padding-x);
  color: #1c1c1c80;
  content: var(--bs-breadcrumb-divider, "/");
}
.title-page h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 33.6px;
  color: #000;
}
@media (max-width: 576px) {
  .title-page {
    gap: 8px;
  }

  .breadcrumb-item a,
  .title-page h2 {
    font-size: 10px;
    line-height: 14px;
  }

  .title-page h2 {
    font-size: 18px;
    line-height: 26px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .title-page {
    gap: 10px;
  }

  .breadcrumb-item a,
  .title-page h2 {
    font-size: 11px;
    line-height: 16px;
  }

  .title-page h2 {
    font-size: 20px;
    line-height: 28px;
  }
}
