<!-- <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <form [formGroup]="jobForm">
    <div class="modal-dialog">
      <div class="modal-content d-flex"> -->

<form [formGroup]="jobForm">
  <div class="modal-body d-flex flex-wrap gap-3 mt-2">
    <div class="d-flex flex-column" style="gap: 2rem">
      <!-- Certificate Type -->
      <div class="position-relative input-container">
        <label
          for="Certificate"
          class="position-absolute label-style"
          [ngClass]="
            currentLang === 'ar' ? 'label-style-rtl' : 'label-style-ltr'
          "
        >
          {{ "certificate_type" | translate }}
        </label>
        <div
          class="input-style d-flex justify-content-between align-items-center text-black"
          (click)="toggleCertificateDropdown()"
        >
          {{
            selectedCertificate
              ? selectedCertificate
              : ("choose_certificate_type" | translate)
          }}
          <img src="../../../../../assets/img/arrow-down-o.svg" />
        </div>
        <div
          *ngIf="certificateDropdownOpen"
          class="dropdown-content d-flex flex-column gap-1"
        >
          <div class="scrollable-container">
            <label
              class="radio-container d-flex align-items-center gap-2 mx-1"
              *ngFor="let certificate of certificateOptions"
            >
              <input
                type="radio"
                name="Certificate"
                [value]="certificate.name"
                (change)="onCertificateSelected(certificate.name)"
                [checked]="certificate.name === selectedCertificate"
              />
              <span class="radio-label">{{ certificate.name }}</span>
            </label>
            <div *ngIf="selectedCertificate === 'Other'">
              <input
                type="text"
                [(ngModel)]="otherCertificate"
                [placeholder]="'enter_other_certificate' | translate"
                class="form-control"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- Experience -->
      <div class="position-relative input-container">
        <label
          for="experiences"
          class="position-absolute label-style"
          [ngClass]="
            currentLang === 'ar' ? 'label-style-rtl' : 'label-style-ltr'
          "
        >
          {{ "do_you_have_experience" | translate }}
        </label>
        <div
          class="input-style d-flex justify-content-between align-items-center text-black"
          (click)="toggleExperiencesDropdown()"
        >
          {{
            selectedExperiences
              ? selectedExperiences
              : ("choose_experience" | translate)
          }}
          <img src="../../../../../assets/img/arrow-down-o.svg" />
        </div>
        <div
          *ngIf="experiencesDropdownOpen"
          class="dropdown-content d-flex flex-column gap-1"
        >
          <div class="scrollable-container">
            <label
              class="radio-container d-flex align-items-center gap-2 mx-1"
              *ngFor="let experience of experiencesOptions"
            >
              <input
                type="radio"
                name="experiences"
                [value]="experience.name"
                (change)="onExperiencesSelected(experience.name)"
              />
              <span class="radio-label">{{ experience.name }}</span>
            </label>
          </div>
        </div>
      </div>

      <!-- Email -->
      <div class="position-relative input-container">
        <label
          for="email"
          class="position-absolute label-style"
          [ngClass]="
            currentLang === 'ar' ? 'label-style-rtl' : 'label-style-ltr'
          "
        >
          {{ "email" | translate }}
        </label>
        <input
          type="email"
          id="email"
          class="input-style"
          [placeholder]="'enter_email' | translate"
          formControlName="email"
        />
      </div>
    </div>

    <div class="d-flex flex-column" style="gap: 2rem">
      <!-- Specialization -->
      <div class="position-relative input-container">
        <label
          for="Specialization"
          class="position-absolute label-style"
          [ngClass]="
            currentLang === 'ar' ? 'label-style-rtl' : 'label-style-ltr'
          "
        >
          {{ "specialization" | translate }}
        </label>
        <div
          class="input-style d-flex justify-content-between align-items-center text-black"
          (click)="toggleSpecializationDropdown()"
        >
          {{
            selectedSpecialization
              ? selectedSpecialization
              : ("choose_specialization" | translate)
          }}
          <img src="../../../../../assets/img/arrow-down-o.svg" />
        </div>
        <div
          *ngIf="specializationDropdownOpen"
          class="dropdown-content d-flex flex-column gap-1"
        >
          <div class="scrollable-container">
            <label
              class="radio-container d-flex align-items-center gap-2 mx-1"
              *ngFor="let specialization of specializationOptions"
            >
              <input
                type="radio"
                name="specialization"
                [value]="specialization.name"
                (change)="onSpecializationSelected(specialization.name)"
                [checked]="specialization.name === selectedSpecialization"
              />
              <span class="radio-label">{{ specialization.name }}</span>
            </label>
          </div>
        </div>
      </div>

      <!-- Preferred City -->
      <div class="position-relative input-container">
        <label
          for="cityWork"
          class="position-absolute label-style"
          [ngClass]="
            currentLang === 'ar' ? 'label-style-rtl' : 'label-style-ltr'
          "
        >
          {{ "preferred_city" | translate }}
        </label>
        <input
          type="text"
          id="cityWork"
          class="input-style"
          [placeholder]="'enter_preferred_city' | translate"
          formControlName="city"
        />
      </div>

      <!-- Name -->
      <div class="position-relative input-container">
        <label
          for="Name"
          class="position-absolute label-style"
          [ngClass]="
            currentLang === 'ar' ? 'label-style-rtl' : 'label-style-ltr'
          "
        >
          {{ "name" | translate }}
        </label>
        <input
          type="text"
          id="Name"
          class="input-style"
          [placeholder]="'enter_name' | translate"
          formControlName="name"
        />
      </div>
    </div>
  </div>
</form>

<!-- <div class="d-flex flex-column" style="gap: 2rem">
  <button type="submit" class="approve-btn" (click)="saveData()">Save</button>
</div> -->
<!-- </div>
      </div>
    </div>
  </form>
</div> -->
