<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <form [formGroup]="jobForm">
    <div class="modal-dialog">
      <div class="modal-content d-flex">
        <div class="modal-body d-flex flex-wrap gap-3 mt-2">
          <div class="d-flex flex-column" style="gap: 2rem">
            <div class="position-relative input-container">
              <label for="Certificate" class="position-absolute label-style">Certificate Type</label>
              <div class="input-style d-flex justify-content-between align-items-center text-black"
                   (click)="toggleCertificateDropdown()">
                {{ selectedCertificate ? selectedCertificate : "Choose Certificate Type" }}
                <img src="../../../../../assets/img/arrow-down-o.svg" />
              </div>
              <div *ngIf="certificateDropdownOpen" class="dropdown-content d-flex flex-column gap-1">
                <div class="scrollable-container">
                  <label class="radio-container d-flex align-items-center gap-2 mx-1" *ngFor="let certificate of certificateOptions">
                    <input type="radio" name="Certificate" [value]="certificate.name" [(ngModel)]="selectedCertificate"
                           (change)="onCertificateSelected(certificate.name)" />
                    <span class="radio-label">{{ certificate.name }}</span>
                  </label>
                  <div *ngIf="selectedCertificate === 'Other'">
                    <input type="text" [(ngModel)]="otherCertificate" placeholder="Enter other certificate" class="form-control" />
                  </div>
                </div>
              </div>
            </div>

            <div class="position-relative input-container">
              <label for="experiences" class="position-absolute label-style">Do You Have Experiences</label>
              <div class="input-style d-flex justify-content-between align-items-center text-black"
                   (click)="toggleExperiencesDropdown()">
                {{ selectedExperiences ? selectedExperiences : "Choose Do You Have Experiences" }}
                <img src="../../../../../assets/img/arrow-down-o.svg" />
              </div>
              <div *ngIf="experiencesDropdownOpen" class="dropdown-content d-flex flex-column gap-1">
                <div class="scrollable-container">
                  <label class="radio-container d-flex align-items-center gap-2 mx-1" *ngFor="let experiences of experiencesOptions">
                    <input type="radio" name="experiences" [value]="experiences.name" [(ngModel)]="selectedExperiences"
                           (change)="onExperiencesSelected()" />
                    <span class="radio-label">{{ experiences.name }}</span>
                  </label>
                </div>
              </div>
            </div>

            <div class="position-relative input-container">
              <label for="Region" class="position-absolute label-style">Region</label>
              <input type="text" id="Region" placeholder="Enter Region" class="input-style" formControlName="region" />
            </div>

            <div class="position-relative input-container">
              <label for="Neighborhood" class="position-absolute label-style">Neighborhood</label>
              <input type="text" id="Neighborhood" placeholder="Enter Neighborhood" class="input-style" formControlName="neighborhood" />
            </div>

            <div class="position-relative input-container">
              <label for="City" class="position-absolute label-style">City</label>
              <input type="text" id="City" placeholder="Enter City" class="input-style" formControlName="city" />
            </div>

            <div class="position-relative input-container">
              <label for="phone" class="position-absolute label-style">Phone Number</label>
              <input type="text" id="phone" class="input-style" formControlName="phoneNumber" />
            </div>

            <div class="position-relative input-container">
              <label for="email" class="position-absolute label-style">Email</label>
              <input type="email" id="email" class="input-style" formControlName="email" />
            </div>
          </div>

          <div class="d-flex flex-column" style="gap: 2rem">
            <button type="submit" class="approve-btn" (click)="saveData()">Save</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
