<div
  class="modal fade"
  id="viewModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content d-flex">
      <div class="modal-header p-2 z-1">
        <h1 class="modal-title" id="exampleModalLabel">{{user?.role}} Info</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="d-flex align-items-center my-2">
          <a
            class="text-decoration-none me-3"
            href="#"
            [ngClass]="{
              breadcrumb: activeLink === 'details',
              inActive: activeLink !== 'details'
            }"
            (click)="setActiveLink('details', $event)"
          >
            Details
          </a>
          <a
            class="text-decoration-none"
            href="#"
            [ngClass]="{
              breadcrumbSpace: activeLink === 'attachments',
              inActive: activeLink !== 'attachments'
            }"
            (click)="setActiveLink('attachments', $event)"
          >
            Attachments
          </a>
        </div>

        <div *ngIf="activeLink === 'details'">
          <app-user-show-details-modal  [user]="user"></app-user-show-details-modal>
        </div>
        <div *ngIf="activeLink === 'attachments'">
          <app-user-show-attachment-modal></app-user-show-attachment-modal>
        </div>

        <div class="d-flex gap-3 mt-4 justify-content-end" *ngIf="user?.status !== 'Approved'">
          <button
            type="button"
            class="reject-btn"
            data-bs-toggle="modal"
            data-bs-target="#rejectModal"
          >
            Reject
          </button>
          <button
            type="button"
            class="approve-btn"
            data-bs-toggle="modal"
            data-bs-target="#approveModal"
          >
            Approve
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-user-reject-modal [userId]="user?.id"></app-user-reject-modal>
<app-user-approve-modal [userId]="user?.id"></app-user-approve-modal>
