<div
  class="modal fade"
  id="viewModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content d-flex">
      <div class="modal-header p-2 z-1">
        <h1 class="modal-title" id="exampleModalLabel">
          {{ user?.role }} {{ "user_info" | translate }}
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          [ngClass]="
            translateService.currentLang === 'ar' ? 'me-auto' : 'ms-auto'
          "
        ></button>
      </div>
      <div class="modal-body">
        <div class="d-flex align-items-center my-2">
          <a
            class="text-decoration-none me-3"
            href="#"
            [ngClass]="{
              breadcrumb: activeLink === 'details',
              inActive: activeLink !== 'details'
            }"
            (click)="setActiveLink('details', $event)"
          >
            {{ "details" | translate }}
          </a>
          <a
            class="text-decoration-none"
            href="#"
            [ngClass]="{
              breadcrumbSpace: activeLink === 'attachments',
              inActive: activeLink !== 'attachments'
            }"
            (click)="setActiveLink('attachments', $event)"
          >
            {{ "attachments" | translate }}
          </a>
        </div>

        <div *ngIf="activeLink === 'details'">
          <app-user-show-details-modal
            [user]="user"
          ></app-user-show-details-modal>
        </div>
        <div *ngIf="activeLink === 'attachments'">
          <app-user-show-attachment-modal
            [user]="user"
          ></app-user-show-attachment-modal>
        </div>

        <ng-container *appHasPermission="{ page: 'users', action: 'EDIT' }">
          <div class="d-flex gap-3 mt-4 justify-content-end">
            <button
              type="button"
              class="reject-btn"
              data-bs-toggle="modal"
              data-bs-target="#rejectModal"
            >
              {{ "suspend" | translate }}
            </button>
            <button
              type="button"
              class="approve-btn"
              data-bs-toggle="modal"
              data-bs-target="#approveModal"
            >
              {{ "approve" | translate }}
            </button>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<app-user-reject-modal [userId]="user?.id"></app-user-reject-modal>
<app-user-approve-modal [userId]="user?.id"></app-user-approve-modal>
