canvas {
  width: 100% !important;
  height: 245px !important;
  padding: 0 15px 0 15px;
}
/* canvas {
  width: 100% !important;
  height: 300px !important;
} */
label {
  border-radius: 5px !important;
}

.chart-container {
  position: relative;
  width: 720.91px;
  max-width: 730px;
  height: auto;
  border: 1px solid #e2e8f0;
  padding: 20px 15px 20px 15px;
  border-radius: 12px;
}

.chart-info {
  position: absolute;
  top: 20px;
  left: 37px;

  margin: 0px;
}

.chart-info h3,
.chart-info h5,
.info-customer h3 {
  margin: 0;
  font-family: Inter;
  font-size: 11.61px;
  font-weight: 400;
  color: black;
}
.chart-info h3 {
  font-size: 18px;
  font-weight: 700;
}
.overlay {
  position: relative;
}

.overlay::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 100%;
  border-left: 1px solid #e2e8f0;
  height: 100%;
}
@media (max-width: 576px) {
  .chart-info {
    left: 20px;
  }
  .chart-info h3 {
    font-size: 16px;
  }

  .chart-info h5,
  .info-customer h3 {
    font-size: 10px;
  }

  .chart-container {
    width: 100%;
    padding: 10px;
  }

  .info-container {
    flex-direction: column;
    gap: 0.5rem;
  }

  .d-flex {
    justify-content: space-between !important;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .chart-container {
    padding: 15px;
    width: 100%;
  }

  .chart-info {
    left: 30px;
    top: 10px;
  }

  .info-container {
    flex-direction: row;
    gap: 10px;
  }

  .info-item {
    flex: 1 1 100%;
  }
}
