<div class="chart-container shadow-sm my-4" *ngIf="dashboardSummary">
  <div class="chart-info">
    <h3>Users</h3>
    <h5>{{ dashboardSummary.totalUsers }} users</h5>
  </div>
  <canvas #chartCanvas></canvas>

  <div class="info-container d-flex justify-content-between mt-4 px-4">
    <div class="info-item d-flex align-items-center gap-4">
      <div class="d-flex align-items-center gap-3">
        <img src="../../../../../assets/img/customer.svg" alt="">
        <div class="info-customer d-flex flex-column gap-1">
          <h3 class="m-0">Total Customers</h3>
          <h3 class="fw-bold m-0">{{ dashboardSummary.customers }}</h3>
        </div>
      </div>
      <div class="info-customer d-flex">
        <img src="../../../../../assets/img/arrow-up-user.svg" alt="">
        <h3>{{ customerGrowth }}%</h3> <!-- Display customer growth percentage -->
      </div>
    </div>

    <span class="overlay"></span>

    <div class="info-item d-flex align-items-center gap-4">
      <div class="d-flex align-items-center gap-3">
        <img src="../../../../../assets/img/provider.svg" alt="">
        <div class="info-customer d-flex flex-column gap-1">
          <h3 class="m-0">Total Providers</h3>
          <h3 class="fw-bold m-0">{{ dashboardSummary.providers }}</h3>
        </div>
      </div>
      <div class="info-customer d-flex">
        <img src="../../../../../assets/img/arrow-up-user.svg" alt="">
        <h3>{{ providerGrowth }}%</h3> <!-- Display provider growth percentage -->
      </div>
    </div>

    <span class="overlay"></span>

    <div class="info-item d-flex align-items-center gap-4">
      <div class="d-flex align-items-center gap-3">
        <img src="../../../../../assets/img/seller.svg" alt="">
        <div class="info-customer d-flex flex-column gap-1">
          <h3 class="m-0">Total Sellers</h3>
          <h3 class="fw-bold m-0">{{ dashboardSummary.sellers }}</h3>
        </div>
      </div>
      <div class="info-customer d-flex">
        <img src="../../../../../assets/img/arrow-up-user.svg" alt="">
        <h3>{{ sellerGrowth }}%</h3> <!-- Display seller growth percentage -->
      </div>
    </div>
  </div>
</div>
