<div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content d-flex">
      <div class="modal-header p-2 z-1">
        <h1 class="modal-title" id="exampleModalLabel">Request Details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex align-items-center my-2">
          <a class="text-decoration-none me-3" href="#" [ngClass]="{
              breadcrumb: activeLink === 'details',
              inActive: activeLink !== 'details'
            }" (click)="setActiveLink('details', $event)">
            Details
          </a>
          <a class="text-decoration-none" href="#" [ngClass]="{
              breadcrumbSpace: activeLink === 'attachments',
              inActive: activeLink !== 'attachments'
            }" (click)="setActiveLink('attachments', $event)">
            Attachments
          </a>
        </div>

        <div *ngIf="activeLink === 'details'">
          <div class="d-flex flex-column">
            <div class="title d-flex align-items-start gap-2 flex-column mt-4">
              <h1>Customer Information:</h1>
              <div class="info d-flex flex-column gap-3">
                <h3 class="d-flex justify-content-between m-0">
                  <span class="label">Name:</span>
                  <span class="value">{{request?.requestOwner?.name}}</span>
                </h3>
                <h3 class="d-flex justify-content-between m-0">
                  <span class="label">Email:</span>
                  <span class="value">{{request?.requestOwner?.email}}</span>
                </h3>
                <h3 class="d-flex justify-content-between m-0">
                  <span class="label">Phone:</span>
                  <span class="value">{{request?.requestOwner?.mobile}}</span>
                </h3>
              </div>
            </div>
            <div class="title d-flex align-items-start gap-2 flex-column mt-4">
              <h1>Request Information:</h1>
              <div class="info d-flex flex-column align-items-start gap-3">
                <h3 class="d-flex justify-content-between m-0">
                  <span class="label">Title:</span>
                  <span class="value">{{request?.title}}</span>
                </h3>
                <h3 class="d-flex justify-content-between m-0">
                  <span class="label">Description::</span>
                  <span class="value">{{request?.description}}</span>
                </h3>
                <h3 class="d-flex justify-content-between m-0" *ngIf="request?.type === 'Request Service'">
                  <span class="label">Purpose of Pricing:</span>
                  <span class="value">{{request?.requestServiceDto?.pricingPurpose}}</span>
                </h3>
                <h3 class="d-flex justify-content-between m-0 " *ngIf="request?.type === 'Consolation'">
                  <span class="label">Application Name:</span>
                  <span class="value">{{request?.consultationRequestDto?.applicationName}}</span>
                </h3>
                <h3 class="d-flex justify-content-between m-0" *ngIf="request?.type === 'Engineering Job'">
                  <span class="label">Certificate Type:</span>
                  <span class="value">{{request?.jobRequestDto?.certificateType}}</span>
                </h3>
                <h3 class="d-flex justify-content-between m-0" *ngIf="request?.type === 'Engineering Job'">
                  <span class="label">Address:</span>
                  <!-- <span class="value">{{request?.requestServiceDto?.region || request?.requestServiceDto?. }}</span> -->
                </h3>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="activeLink === 'attachments'">
          <div class="d-flex flex-column gap-5 mt-5">
            <div class="d-flex justify-content-between">
              <div class="d-flex align-items-center gap-3" *ngFor="let file of request?.requestFiles">
                <a href="file?.filePath" download>
                  <img src="../../../../../assets/img/pdf.svg" alt="" srcset="" />
                </a>
                <div class="attechment d-flex flex-column">
                  <h4 class="m-0">{{file.fileName}}</h4>
                  <p class="m-0">{{file.uploadDate}}</p>
                </div>
                <img class="cursor-pointer" src="../../../../../assets/img/fi_download.svg" alt="" srcset="" />
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex gap-3 mt-4 justify-content-end" *ngIf="request?.internalStatus !== 'Approved'">
          <button type="button" class="reject-btn" data-bs-toggle="modal" data-bs-target="#rejectModal">
            Reject
          </button>
          <button type="button" class="approve-btn" data-bs-toggle="modal" data-bs-target="#approveModal">
            Approve
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-request-reject-modal [requestId]="request?.requestId"></app-request-reject-modal>
<app-request-approve-modal [requestId]="request?.requestId"></app-request-approve-modal>
