.btn-export {
  width: 110px;
  height: 42px;
  background-color: #f28f45;
  border: 1px solid #f28f45;
  border-radius: 12px;
  padding: 12px;
  font-weight: 600;
  color: #f28f45;
}
.dropdown-menu {
  min-width: 110px;
  background-color: white;
  border-radius: 4px;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
}
.dropdown-item.active,
.dropdown-item:active {
  color: #000;
}
/* .btn-unfinished {
  color: #1c1c1c80;
  width: 150px;
} */
@media (max-width: 576px) {
  .gap {
    gap: 0.5rem;
  }

  .btn-orange {
    width: 100px;
    height: 36px;
    font-size: 12px;
    padding: 8px;
  }
}

/* Tablets (width between 577px and 768px) */
@media (min-width: 577px) and (max-width: 768px) {
  .btn-orange {
    width: 120px;
    height: 40px;
    font-size: 14px;
    padding: 10px;
  }
}
