<div class="d-flex align-items-center justify-content-between">
  <div class="d-flex align-items-center gap-2">
    <div class="search-container d-flex align-items-center position-relative">
      <span class="search-icon p-2">
        <img src="../../../../../assets/img/search-normal.svg" alt="Search Icon" />
      </span>
      <input type="text" class="form-control search-input" placeholder="Search in customer" />
    </div>
    <button class="btn d-flex align-items-center gap-2" data-bs-toggle="modal" data-bs-target="#userFilterModal">
      <img src="../../../../../assets/img/filter.svg" alt="" />
      <span>Filter</span>
    </button>
  </div>
  <button class="btn-orange d-flex align-items-center gap-2" data-bs-toggle="modal" data-bs-target="#addUserModal">
    <img src="../../../../../assets/img/add.svg" alt="" />
    <span>New User</span>
  </button>
</div>
<app-user-add-modal></app-user-add-modal>