<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content d-flex">
      <div class="modal-header p-2 z-1">
        <h1 class="modal-title" id="exampleModalLabel">{{ role.roleName }}</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          [ngClass]="
            translateService.currentLang === 'ar' ? 'me-auto' : 'ms-auto'
          "
        ></button>
      </div>

      <div class="modal-body d-flex flex-column gap-3 mt-2">
        <table class="table my-4">
          <thead class="table-light">
            <tr>
              <th scope="col" class="title-table">
                <p class="m-0">{{ "pages" | translate }}</p>
              </th>
              <th scope="col" class="title-table">
                <p class="m-0">{{ "view" | translate }}</p>
              </th>
              <th scope="col" class="title-table">
                <p class="m-0">{{ "edit" | translate }}</p>
              </th>
              <th scope="col" class="title-table">
                <p class="m-0">{{ "delete" | translate }}</p>
              </th>
              <th scope="col" class="title-table">
                <p class="m-0">{{ "add" | translate }}</p>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let page of pages">
              <th scope="row">
                <h4 class="m-0">{{ page.name }}</h4>
              </th>
              <td>
                <input
                  type="checkbox"
                  [(ngModel)]="page.view"
                  (change)="checkIfAllSelected()"
                />
              </td>
              <td>
                <input
                  type="checkbox"
                  [(ngModel)]="page.edit"
                  (change)="checkIfAllSelected()"
                />
              </td>
              <td>
                <input
                  type="checkbox"
                  [(ngModel)]="page.delete"
                  (change)="checkIfAllSelected()"
                />
              </td>
              <td>
                <input
                  type="checkbox"
                  [(ngModel)]="page.add"
                  (change)="checkIfAllSelected()"
                />
              </td>
            </tr>
          </tbody>
        </table>

        <div
          class="d-flex gap-3 justify-content-end"
          style="margin: 20px 10px 20px 0px"
        >
          <button type="button" class="reject-btn" data-bs-dismiss="modal">
            {{ "cancel" | translate }}
          </button>
          <button
            type="button"
            class="approve-btn"
            (click)="editRoles()"
            data-bs-dismiss="modal"
          >
            {{ "save" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
