<div class="title d-flex align-items-start gap-2 flex-column mt-4">
  <h1>Service Provider Information:</h1>
  <div class="info d-flex flex-column gap-3">
    <h3 class="d-flex justify-content-between m-0">
      <span class="label">Name:</span>
      <span class="value">{{proposal?.ownerName}}</span>
    </h3>
    <h3 class="d-flex justify-content-between m-0">
      <span class="label">Phone:</span>
      <span class="value">{{proposal?.ownerEmail}}</span>
    </h3>
  </div>
</div>

<div class="title d-flex align-items-start gap-2 flex-column mt-4">
  <h1>Customer Information:</h1>
  <div class="info d-flex flex-column gap-3">
    <h3 class="d-flex justify-content-between m-0">
      <span class="label">Name:</span>
      <span class="value">{{proposal?.customerName}}</span>
    </h3>
    <h3 class="d-flex justify-content-between m-0">
      <span class="label">Phone:</span>
      <span class="value">{{proposal?.customerEmail}}</span>
    </h3>
  </div>
</div>

<div class="title d-flex align-items-start gap-2 flex-column mt-4">
  <h1>Proposal Information:</h1>
  <div class="info d-flex flex-column align-items-start gap-3">
    <h3 class="d-flex justify-content-between m-0">
      <span class="label">Title:</span>
      <span class="value">{{proposal?.title}}</span>
    </h3>
    <h3 class="d-flex justify-content-between m-0">
      <span class="label">Description:</span>
      <span class="value">{{proposal?.details}}</span>
    </h3>
    <h3 class="d-flex justify-content-between m-0">
      <span class="label">Price:</span>
      <span class="value">{{proposal?.price}}</span>
    </h3>
  </div>
</div>
<div class="title d-flex align-items-start gap-2 flex-column mt-4">
  <h1>Request Information:</h1>
  <div class="info d-flex flex-column align-items-start gap-3">
    <h3 class="d-flex justify-content-between m-0">
      <span class="label">Request ID:</span>
      <span class="value">{{proposal?.productId}}</span>
    </h3>
    <h3 class="d-flex justify-content-between m-0">
      <span class="label">Request Title:</span>
      <span class="value">{{proposal?.productName}}</span>
    </h3>
    <h3 class="d-flex justify-content-between m-0">
      <span class="label">Request Description:</span>
      <span class="value">{{proposal?.productDetails}}.</span>
    </h3>
  </div>
</div>
