.dashboard {
  display: flex;
  justify-content: space-between;
}

.card {
  background: #fff;
  /* padding: 16px; */
  width: 30%;
  border: none;
  position: relative;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-title h5,
.card-title h2,
.percentage {
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -3%;
  color: #1c1c1c80;
}
.card-title h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -3%;
  color: #000;
}
.card-title span {
  font-size: 14px;
  color: #666;
}
.rqtangle-o,
.rqtangle-p,
.rqtangle-f {
  width: 8px;
  height: 8px;
  border-radius: 2px;
  background-color: #f28f45;
}
.rqtangle-p {
  background-color: #f20b7a;
}
.rqtangle-f {
  background-color: #08dccf;
}
.percentage {
  padding: 1px 4px 1px 4px;
  border-radius: 64px;
  background-color: #e7ebfe;
  color: #000 !important;
  font-weight: 700 !important;
}

canvas {
  width: 161.17px !important;
  height: 47.85px !important;
}
