<div
  class="modal fade"
  id="proposalFilterModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content d-flex">
      <div class="modal-header p-2 z-1">
        <h1 class="modal-title" id="exampleModalLabel">
          {{ "filter" | translate }}
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="close"
          [ngClass]="
            translateService.currentLang === 'ar' ? 'me-auto' : 'ms-auto'
          "
        ></button>
      </div>
      <div class="modal-body">
        <div class="info d-flex flex-column gap-1">
          <h3>{{ "status" | translate }}</h3>
          <div class="d-flex align-items-center mb-4 gap-2">
            <a
              class="text-decoration-none d-flex align-items-center"
              href="#"
              [ngClass]="{
                breadcrumb: isActiveLink('Approved'),
                active: isActiveLink('Approved'),
                inActive: !isActiveLink('Approved')
              }"
              (click)="toggleStatus('Approved', $event)"
            >
              {{ "approved" | translate }}
              <span *ngIf="isActiveStatus('Approved')">✖</span>
            </a>

            <a
              class="text-decoration-none d-flex align-items-center gap-1"
              href="#"
              [ngClass]="{
                breadcrumb: isActiveLink('Rejected'),
                active: isActiveLink('Rejected'),
                inActive: !isActiveLink('Rejected')
              }"
              (click)="toggleStatus('Rejected', $event)"
            >
              {{ "rejected" | translate }}
              <span *ngIf="isActiveStatus('Rejected')">✖</span>
            </a>

            <a
              class="text-decoration-none d-flex align-items-center gap-1"
              href="#"
              [ngClass]="{
                breadcrumb: isActiveLink('Pending'),
                active: isActiveLink('Pending'),
                inActive: !isActiveLink('Pending')
              }"
              (click)="toggleStatus('Pending', $event)"
            >
              {{ "pending" | translate }}
              <span *ngIf="isActiveStatus('Pending')">✖</span>
            </a>

            <a
              class="text-decoration-none d-flex align-items-center gap-1"
              href="#"
              [ngClass]="{
                breadcrumb: isActiveLink('completed'),
                active: isActiveLink('completed'),
                inActive: !isActiveLink('completed')
              }"
              (click)="toggleStatus('completed', $event)"
            >
              {{ "completed" | translate }}
              <span *ngIf="isActiveStatus('completed')">✖</span>
            </a>
          </div>
        </div>

        <button
          type="button"
          class="filter-btn m-auto d-block"
          (click)="filter()"
        >
          {{ "filter" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
