<div class="title d-flex align-items-start gap-2 flex-column mt-4">
  <h1>Customer Information:</h1>
  <div class="info d-flex flex-column gap-3">
    <h3 class="d-flex justify-content-between m-0">
      <span class="label">Name:</span>
      <span class="value">Mohamed MonGe</span>
    </h3>
    <h3 class="d-flex justify-content-between m-0">
      <span class="label">Email:</span>
      <span class="value">mohamedmonge7@gmail.com</span>
    </h3>
    <h3 class="d-flex justify-content-between m-0">
      <span class="label">Phone:</span>
      <span class="value">+966-555-555555</span>
    </h3>
  </div>
</div>
<div class="title d-flex align-items-start gap-2 flex-column mt-4">
  <h1>Request Information:</h1>
  <div class="info d-flex flex-column align-items-start gap-3">
    <h3 class="d-flex justify-content-between m-0">
      <span class="label">Title:</span>
      <span class="value">Survey Report</span>
    </h3>
    <h3 class="d-flex justify-content-between m-0">
      <span class="label">Description::</span>
      <span class="value">Lorem ipsum dolor sit amet</span>
    </h3>
    <h3 class="d-flex justify-content-between m-0">
      <span class="label">Purpose of Pricing:</span>
      <span class="value">Survey Report</span>
    </h3>
  </div>
</div>
