<div class="d-flex gap-2 flex-column">
  <div class="title d-flex align-items-start gap-2 flex-column mt-4">
    <div class="info d-flex flex-column gap-3">
      <h3 class="d-flex justify-content-between m-0">
        <span class="label">Project Name:</span>
        <span class="value">Survey Report</span>
      </h3>
      <h3 class="d-flex justify-content-between m-0">
        <span class="label">Provider Name:</span>
        <span class="value">Eman Mohamed Office</span>
      </h3>
      <h3 class="d-flex justify-content-between m-0">
        <span class="label">Date:</span>
        <span class="value">2024-06-26 10:30</span>
      </h3>
      <h3 class="d-flex justify-content-between m-0">
        <span class="label">Status:</span>
        <span class="value">Approved</span>
      </h3>
      <h3 class="d-flex justify-content-between m-0">
        <span class="label">Product Details:</span>
        <span class="value">Topcon Auto level AT-B2</span>
      </h3>
    </div>
  </div>
</div>
