.container {
  display: flex;
  margin: 0;
  padding: 0;
  height: 86.5vh;
}

.lists {
  flex: 1;
  max-width: 373px;
}

.messages {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
