<div class="container p-0">
  <div class="row justify-content-center my-4" *ngIf="dashboardSummary">
    <div class="col-12 col-sm-6 col-md-5 col-lg-3 mb-4 width">
      <div
        class="card-style d-flex flex-column justify-content-between shadow rounded-4"
      >
        <div class="d-flex justify-content-between align-items-start">
          <div class="d-flex flex-column gap-4">
            <h2 class="m-0">{{ "total_users" | translate }}</h2>
            <h1 class="m-0">{{ dashboardSummary.totalUsers }}</h1>
          </div>
          <img
            class="img-fluid"
            src="../../../../../assets/img/users.svg"
            alt="Users Icon"
          />
        </div>
        <div class="d-flex align-items-center gap-1">
          <img
            class="img-fluid"
            src="../../../../../assets/img/ic-trending-up-24px.svg"
            alt="Trending Up Icon"
          />
          <h5 class="m-0">
            <span class="text-high">8.5%</span> Up from yesterday
          </h5>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-5 col-lg-3 mb-4 width">
      <div
        class="card-style d-flex flex-column justify-content-between shadow rounded-4"
      >
        <div class="d-flex justify-content-between align-items-start">
          <div class="d-flex flex-column gap-4">
            <h2 class="m-0">{{ "approved_devices" | translate }}</h2>
            <h1 class="m-0">{{ dashboardSummary.approvedProducts }}</h1>
          </div>
          <img
            class="img-fluid"
            src="../../../../../assets/img/device.svg"
            alt="Device Icon"
          />
        </div>
        <div class="d-flex align-items-center gap-1">
          <img
            class="img-fluid"
            src="../../../../../assets/img/ic-trending-up-24px.svg"
            alt="Trending Up Icon"
          />
          <h5 class="m-0">
            <span class="text-high">1.5%</span> Up from past week
          </h5>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-5 col-lg-3 mb-4 width">
      <div
        class="card-style d-flex flex-column justify-content-between shadow rounded-4"
      >
        <div class="d-flex justify-content-between align-items-start">
          <div class="d-flex flex-column gap-4">
            <h2 class="m-0">{{ "total_requests" | translate }}</h2>
            <h1 class="m-0">{{ dashboardSummary.totalRequests }}</h1>
          </div>
          <img
            class="img-fluid"
            src="../../../../../assets/img/requests.svg"
            alt="Requests Icon"
          />
        </div>
        <div class="d-flex align-items-center gap-1">
          <img
            class="img-fluid"
            src="../../../../../assets/img/ic-trending-down-24px.svg"
            alt="Trending Down Icon"
          />
          <h5 class="m-0">
            <span class="text-low">8.5%</span> Down from yesterday
          </h5>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-5 col-lg-3 mb-4 width">
      <div
        class="card-style d-flex flex-column justify-content-between shadow rounded-4"
      >
        <div class="d-flex justify-content-between align-items-start">
          <div class="d-flex flex-column gap-4">
            <h2 class="m-0">{{ "total_transactions" | translate }}</h2>
            <h1 class="m-0">{{ dashboardSummary.totalTransactions }}</h1>
          </div>
          <img
            class="img-fluid"
            src="../../../../../assets/img/transactions.svg"
            alt="Transactions Icon"
          />
        </div>
        <div class="d-flex align-items-center gap-1">
          <img
            class="img-fluid"
            src="../../../../../assets/img/ic-trending-down-24px.svg"
            alt="Trending Down Icon"
          />
          <h5 class="m-0">
            <span class="text-low">4.5%</span> Down from yesterday
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
