<nav class="nav flex-column side-bar offcanvas">
    <a class="nav-link active mx-auto" aria-current="page" href="#">
        <img src="../../../assets/img/logo.png">
    </a>
    <a class="nav-link text-style" href="#">
        <div class="d-flex">
            <img class="img-fluid" src="../../../assets/img/bar-chart-2.png" alt="">
            <div>Dashboard</div>
        </div>
    </a>
    <a class="nav-link text-style" href="#">
        <div class="d-flex">
            <img class="img-fluid" src="../../../assets/img/category-2.png" alt="">
            <div>Service Requests</div>
        </div>
    </a>
    <a class="nav-link text-style" href="#">
        <div class="d-flex">
            <img class="img-fluid" src="../../../assets/img/Amount_Icon_UIA.png" alt="">
            <div>Providers Proposals</div>
        </div>
    </a>
    <a class="nav-link text-style" href="#">
        <div class="d-flex">
            <img class="img-fluid" src="../../../assets/img/profile-2user.png" alt="">
            <div>Users</div>
        </div>
    </a>
    <a class="nav-link text-style" href="#">
        <div class="d-flex">
            <img class="img-fluid" src="../../../assets/img/box.png" alt="">
            <div>Products</div>
        </div>
    </a>
    <a class="nav-link text-style" href="#">
        <div class="d-flex">
            <img class="img-fluid" src="../../../assets/img/box.png" alt="">
            <div>Products</div>
        </div>
    </a>
    <a class="nav-link text-style" href="#">
        <div class="d-flex">
            <img class="img-fluid" src="../../../assets/img/messages.png" alt="">
            <div>Conversations</div>
        </div>
    </a>
    <a class="nav-link text-style" href="#">
        <div class="d-flex">
            <img class="img-fluid" src="../../../assets/img/chart.png" alt="">
            <div>Transactions</div>
        </div>
    </a>
    <a class="nav-link text-style" href="#">
        <div class="d-flex">
            <img class="img-fluid" src="../../../assets/img/clipboard-text.png" alt="">
            <div>Reports</div>
        </div>
    </a>
    <a class="nav-link text-style" href="#">
        <div class="d-flex">
            <img class="img-fluid" src="../../../assets/img/clipboard-tick.png" alt="">
            <div>Work Submission</div>
        </div>
    </a>
    <a class="nav-link text-style" href="#">
        <div class="d-flex">
            <img class="img-fluid" src="../../../assets/img/people.png" alt="">
            <div>Employees</div>
        </div>
    </a>
    <a class="nav-link text-style" href="#">
        <div class="d-flex">
            <img class="img-fluid" src="../../../assets/img/notification.png" alt="">
            <div>Notifications</div>
        </div>
    </a>
    <a class="nav-link text-style" href="#">
        <div class="d-flex">
            <img class="img-fluid" src="../../../assets/img/setting.png" alt="">
            <div>Settings</div>
        </div>
    </a>
  </nav>
