<div class="title d-flex align-items-start gap-2 flex-column mt-4">
  <img
    class="mb-2"
    src="../../../../../assets/img/profile.png"
    alt=""
    srcset=""
  />
  <div class="info d-flex flex-column gap-3">
    <h3 class="d-flex justify-content-between m-0">
      <span class="label">Role:</span>
      <span class="value">Provider</span>
    </h3>
    <h3 class="d-flex justify-content-between m-0">
      <span class="label">Name:</span>
      <span class="value">Eman Mohamed Office</span>
    </h3>
    <h3 class="d-flex justify-content-between m-0">
      <span class="label">Phone Number:</span>
      <span class="value">+966-555-555555</span>
    </h3>
    <h3 class="d-flex justify-content-between m-0">
      <span class="label">Email:</span>
      <span class="value">emanmohamed@gmail.com</span>
    </h3>
    <h3 class="d-flex justify-content-between m-0">
      <span class="label">Service Provider:</span>
      <span class="value">Company</span>
    </h3>
    <h3 class="d-flex justify-content-between m-0">
      <span class="label">Facility Name:</span>
      <span class="value">Nasr Company</span>
    </h3>
    <h3 class="d-flex justify-content-between m-0">
      <span class="label">Type of activity:</span>
      <span class="value">Engineering Office</span>
    </h3>
    <h3 class="d-flex justify-content-between m-0">
      <span class="label">License Number:</span>
      <span class="value">1323611234568790</span>
    </h3>
    <h3 class="d-flex justify-content-between m-0">
      <span class="label">Date of commercial:</span>
      <span class="value">13 - 3 -2005</span>
    </h3>
    <h3 class="d-flex justify-content-between m-0">
      <span class="label">Commercial registration:</span>
      <span class="value">13 - 3 -2005</span>
    </h3>
  </div>
</div>
