<div class="d-flex gap-2 flex-column">
  <div class="title d-flex align-items-start gap-2 flex-column mt-4">
    <div class="info d-flex flex-column gap-3">
      <h3 class="d-flex justify-content-between m-0">
        <span class="label">Product Name:</span>
        <span class="value">TX12345</span>
      </h3>
      <h3 class="d-flex justify-content-between m-0">
        <span class="label">Model:</span>
        <span class="value">Eman Mohamed Office</span>
      </h3>
      <h3 class="d-flex justify-content-between m-0">
        <span class="label">Manufacturing Year:</span>
        <span class="value">Eman Mohamed Office</span>
      </h3>
      <h3 class="d-flex justify-content-between m-0">
        <span class="label">Status:</span>
        <span class="value">Approved</span>
      </h3>
      <h3 class="d-flex justify-content-between m-0">
        <span class="label">Type of device:</span>
        <span class="value">Sell</span>
      </h3>
      <h3 class="d-flex justify-content-between m-0">
        <span class="label">Product Details:</span>
        <span class="value">2024-06-26 10:30</span>
      </h3>
    </div>
  </div>
  <div class="title d-flex align-items-start gap-2 flex-column mt-4">
    <h1>Seller Info:</h1>
    <div class="info d-flex flex-column align-items-start gap-3">
      <h3 class="d-flex justify-content-between m-0">
        <span class="label">Merchant Name:</span>
        <span class="value">Mohamed MonGe</span>
      </h3>
      <h3 class="d-flex justify-content-between m-0">
        <span class="label">Phonr Number:</span>
        <span class="value">+966-555-555555</span>
      </h3>
    </div>
  </div>
</div>
