<div class="table-container mx-3">
  <table class="table my-4">
    <thead class="table-light">
      <tr>
        <th scope="col">
          <input type="checkbox" [(ngModel)]="selectAll" (change)="toggleAll($event)" />
        </th>
        <th scope="col" class="title-table">
          <p class="m-0">ID</p>
        </th>
        <th scope="col" class="title-table">
          <p class="m-0">Service Provider Name</p>
        </th>
        <th scope="col" class="title-table">
          <p class="m-0">Title</p>
        </th>
        <th scope="col" class="title-table">
          <p class="m-0">Customer Name</p>
        </th>
        <th scope="col" class="title-table">
          <p class="m-0">Amount</p>
        </th>
        <th scope="col" class="title-table">
          <p class="m-0">Date</p>
        </th>
        <th scope="col" class="title-table">
          <p class="m-0">Status</p>
        </th>
        <th scope="col" class="title-table">
          <p class="m-0">Actions</p>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions">
        <th scope="row">
          <input type="checkbox" [(ngModel)]="transaction.selected" (change)="checkIfAllSelected()" />
        </th>
        <td>
          <h4 class="m-0">{{ transaction.id }}</h4>
        </td>
        <td>
          <h4 class="m-0">{{ transaction.serviceProviderName }}</h4>
        </td>
        <td>
          <h4 class="m-0">{{ transaction.title }}</h4>
        </td>
        <td>
          <h4 class="m-0">{{ transaction.customerName }}</h4>
        </td>
        <td>
          <h4 class="m-0">{{ transaction.amount }}</h4>
        </td>
        <td>
          <h4 class="m-0">{{ transaction.submittingDate }}</h4>
        </td>

        <td>
          <h4 [ngClass]="{
              green: transaction.status === 'paid' || 'Approved',
              red: transaction.status === 'Rejected' || transaction.status === 'Refund',
              orange: transaction.status === 'Pending'
            }" class="m-0">
            {{ transaction.status }}
          </h4>
        </td>
        <td>
          <div class="">
            <!-- Actions Icons -->
            <ng-container *appHasPermission="{ page: 'transactions', action: 'READ' }">
              <img class="cursor-pointer pe-2" data-bs-toggle="modal" data-bs-target="#viewModal"
                src="../../../../assets/img/eye.svg" alt="View" (click)="setTransactionId(transaction.id)" />
              <img class="cursor-pointer pe-2" (click)="downloadInvoice(transaction.requestId)"
                src="../../../../../assets/img/Import_duotone_line.svg" alt="View" />
            </ng-container>

            <ng-container *appHasPermission="{ page: 'transactions', action: 'DELETE' }">
              <img class="cursor-pointer ps-2" data-bs-toggle="modal" data-bs-target="#exampleModal"
                src="../../../../../assets/img/trash.svg" (click)="changeSelectedItem(transaction)" alt="Delete" />
            </ng-container>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <app-transactions-delete-modal [transaction]="transaction"></app-transactions-delete-modal>
  <app-transactions-show-modal [transaction]="transactionResponse"></app-transactions-show-modal>
  <div class="font d-flex align-items-center justify-content-between my-4 pagination-space">
    <h5 class="left m-0">Showing
      {{ (currentPage - 1) * itemsPerPage + 1 }} to
      {{ Math.min(currentPage * itemsPerPage, transactions.length) }} of
      {{ transactions.length }} entries
    </h5>

    <nav aria-label="Page navigation example">
      <ul class="pagination gap-2 m-0 align-items-center">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link previous" href="#" aria-label="Previous" (click)="setPage(currentPage - 1, $event)">
            <span aria-hidden="true">
              <img src="../../../../../assets/img/arrow-left.svg" alt="Previous" />
            </span>
          </a>
        </li>
        <li *ngFor="let page of pagination" class="page-item" [class.active]="page === currentPage"
          [class.disabled]="page === -1">

          <a *ngIf="page !== -1" class="page-link" href="#" (click)="setPage(page, $event)">
            {{ page }}
          </a>

          <span *ngIf="page === -1" class="page-link">...</span>

        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a class="page-link next" href="#" aria-label="Next" (click)="setPage(currentPage + 1, $event)">
            <span aria-hidden="true">
              <img src="../../../../../assets/img/arrow-right.svg" alt="Next" />
            </span>
          </a>
        </li>
      </ul>
    </nav>
    <div class="font d-flex align-items-center">
      <h5 class="m-0 me-2">Show</h5>
      <div class="select-wrapper">
        <select class="form-select mx-2 custom-select" [(ngModel)]="itemsPerPage" (change)="setPage(1, $event)">
          <option *ngFor="let option of [4, 10, 20, 50, 100]" [value]="option">
            {{ option }}
          </option>
        </select>
        <i class="fa-solid fa-chevron-down custom-select-icon"></i>
      </div>
      <h5 class="m-0 ms-2">entries</h5>
    </div>
  </div>

</div>