<div class="chat-container">
  <!-- Left Side: Chat Rooms -->
  <div class="chat-rooms">

    <div class="d-flex flex-column">
      <div class="message-style d-flex align-items-center gap-3 border-bottom">
        <h3 class="m-0">Messages</h3>
        <span>{{chatRooms.length}}</span>
        <h3 class="m-0">|</h3>
        <button class="btn d-flex align-items-center gap-2" data-bs-toggle="modal" data-bs-target="#filterChatDialog">
          <span class="m-0">Filter & Send</span>
        </button>
      </div>
      <app-send-to-all [key]="key" [socket]="socket"></app-send-to-all>
      <div class="search-container d-flex align-items-center position-relative my-3 mx-auto">
        <span class="search-icon p-2">
          <img src="../../../../../assets/img/search-normal.svg" alt="Search Icon" />
        </span>
        <input type="text" class="form-control search-input" placeholder="Search in employees" />
      </div>
    </div>

    <div class="d-flex flex-column gap-4 scroll" style="margin: 0px 20px; max-height: 455px; overflow: auto">
      <div class="profile-img d-flex justify-content-between" *ngFor="let chatRoom of chatRooms"
        (click)="getMessagesByChatId(chatRoom)">
        <div class="d-flex gap-3">
          <img [src]="chatRoom.recipientProfile?.logoPath" [alt]="chatRoom.recipientProfile?.name"
            onerror="this.onerror=null;this.src='../../../../assets/img/anonymous-profile.svg';" />
          <div class="profile-info d-flex flex-column">
            <h3 class="m-0">{{ chatRoom.recipientProfile?.name }}</h3>
            <p *ngIf="chatRoom.lastMessage">{{ chatRoom.lastMessage | shorten: 20 }}</p>

            <span class="m-0">{{ chatRoom.recipientProfile?.role }}</span>
          </div>
        </div>
        <h4 class="m-0" style="font-size: 10px;">{{ chatRoom.lastMessageTimestamp }}</h4>
      </div>
    </div>
  </div>

  <!-- Right Side: Chat Messages -->
  <div *ngIf="selectedChatRoom" class="chat-messages">
    <div class="message-header">
      <div class="d-flex">
        <img [src]="selectedChatRoom.recipientProfile?.logoPath" [alt]="selectedChatRoom.recipientProfile?.name"
          class="chat-image" onerror="this.onerror=null;this.src='../../../../assets/img/anonymous-profile.svg';" />
        <h3>{{ selectedChatRoom.recipientProfile?.email || '...' }}</h3>
      </div>
    </div>

    <div class="message-list">
      <div *ngFor="let message of messages" [class.chat-message]="true" [class.me]="message.senderEmail === adminEmail"
        [class.him]="message.senderEmail !== adminEmail">
        <div [class.message-bubble]="true" [class.me]="message.senderEmail === adminEmail"
          [class.him]="message.senderEmail !== adminEmail">
          <div *ngIf="message.contentType === 'TEXT'" class="message-text">
            {{ message.content }}
            <div class="message-timestamp">{{ message.createdAt| date: 'shortTime' }}</div>
          </div>
          <div *ngIf="message.contentType === 'FILE'" class="message-media">
            <img [src]="message.content" alt="Media content" />
            <div class="message-timestamp">{{ message.createdAt| date: 'shortTime' }}</div>
          </div>
        </div>
      </div>
    </div>


    <div class="message-footer">

      <input *ngIf="!fileToBeUploaded" type="text" class="form-control" placeholder="Type a message..."
        [(ngModel)]="message" />

      <img *ngIf="fileToBeUploaded" [src]="filePreview" alt="Uploaded Image" class="file-preview-image" />

      <button class="send-button" (click)="triggerFileInput()">
        <input type="file" id="file-input" class="file-input" (change)="onFilesSelected($event)" />
        <i class="fa fa-paperclip"></i>
      </button>
      <button (click)="send()" class="send-button">
        <img src="../../../../../assets/img/Mail Send Email.svg" />
      </button>
    </div>
  </div>
