.chat-container {
    display: flex;
    height: 100vh;
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #ece5dd;
  }
  
  .chat-rooms {
    width: 30%;
    border-right: 1px solid #ddd;
    background-color: #ffffff;
    overflow-y: auto;
  }
  
  .login-section,
  .new-chat-section,
  .chat-room-list {
    padding: 15px;
  }
  
  /* h3, */
  /* h4 {
    margin-bottom: 10px;
    color: #ffffff;
  } */
  
  .login-input,
  .new-chat-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-button,
  .new-chat-button {
    width: 100%;
    padding: 10px;
    background-color: #083a34;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-button:hover,
  .new-chat-button:hover {
    background-color: #075e54;
  }
  
  .chat-room {
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-bottom: 1px solid #ddd;
  }
  
  .chat-room:hover {
    background-color: #f1f1f1;
  }
  
  .chat-room-email {
    font-size: 16px;
    font-weight: bold;
    /* color: #0b423c; */
  }
  
  .chat-messages {
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: #e5ddd5;
  }
  
  .message-header {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    background-color: #083a34;
    color: white;
  }
  
  .message-header h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .message-list {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    background-color: #e5ddd5;
  }
  
  .message-footer {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: #ffffff;
  }
  
  .message-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    margin-right: 10px;
  }
  
  .file-input {
    display: none;
  }
  
  .attach-icon {
    font-size: 20px;
    color: #083a34;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .send-button {
    padding: 10px 15px;
    background-color: #083a34;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
  }
  
  .send-button:hover {
    background-color: #075e54;
  }
  
  .chat-message {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  
  .chat-message.me {
    justify-content: flex-end;
  }
  
  .message-bubble {
    max-width: 60%;
    padding: 10px 15px;
    border-radius: 20px;
    position: relative;
    font-size: 14px;
    line-height: 1.4;
    word-wrap: break-word;
  }
  
  .message-bubble.me {
    background-color: #dcf8c6;
    color: #000;
  }
  
  .message-bubble.him {
    background-color: #ffffff;
    color: #000;
    border: 1px solid #ddd;
  }
  
  .message-text {
    white-space: pre-wrap;
  }
  
  .message-media img {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 5px;
  }
  