<!-- user-filter-modal.component.html -->
<div class="modal fade" id="userFilterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content d-flex">
      <div class="modal-header p-2 z-1">
        <h1 class="modal-title" id="exampleModalLabel">Filter</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="info d-flex flex-column gap-1">
          <h3>Role</h3>
          <div class="d-flex align-items-center mb-4 gap-2">
            <a class="text-decoration-none d-flex align-items-center" href="#" [ngClass]="{
              breadcrumb: isActiveRole('Customer'),
              active: isActiveRole('Customer'),
              inActive: !isActiveRole('Customer')
            }" (click)="toggleRole('Customer', $event)">
              Customers
              <span *ngIf="isActiveRole('Customer')">
                ✖
              </span>
            </a>
            <a class="text-decoration-none d-flex align-items-center gap-1" href="#" [ngClass]="{
              breadcrumb: isActiveRole('Provider'),
              active: isActiveRole('Provider'),
              inActive: !isActiveRole('Provider')
            }" (click)="toggleRole('Provider', $event)">
              Providers
              <span *ngIf="isActiveRole('Provider')">
                ✖
              </span>
            </a>
            <a class="text-decoration-none d-flex align-items-center gap-1" href="#" [ngClass]="{
              breadcrumb: isActiveRole('Seller'),
              active: isActiveRole('Seller'),
              inActive: !isActiveRole('Seller')
            }" (click)="toggleRole('Seller', $event)">
              Merchants
              <span *ngIf="isActiveRole('Seller')">
                ✖
              </span>
            </a>
          </div>
        </div>
        <div class="info d-flex flex-column gap-1">
          <h3>Status</h3>
          <div class="d-flex align-items-center mb-4 gap-2">
            <a class="text-decoration-none d-flex align-items-center" href="#" [ngClass]="{
              breadcrumb: isActiveStatus('approved'),
              active: isActiveStatus('approved'),
              inActive: !isActiveStatus('approved')
            }" (click)="toggleStatus('approved', $event)">
              Approved
              <span *ngIf="isActiveStatus('approved')">
                ✖
              </span>
            </a>
            <a class="text-decoration-none d-flex align-items-center gap-1" href="#" [ngClass]="{
              breadcrumb: isActiveStatus('rejected'),
              active: isActiveStatus('rejected'),
              inActive: !isActiveStatus('rejected')
            }" (click)="toggleStatus('rejected', $event)">
              Rejected
              <span *ngIf="isActiveStatus('rejected')">
                ✖
              </span>
            </a>
            <a class="text-decoration-none d-flex align-items-center gap-1" href="#" [ngClass]="{
              breadcrumb: isActiveStatus('pending'),
              active: isActiveStatus('pending'),
              inActive: !isActiveStatus('pending')
            }" (click)="toggleStatus('pending', $event)">
              Pending
              <span *ngIf="isActiveStatus('pending')">
                ✖
              </span>
            </a>
          </div>
        </div>
        <button type="button" class="filter-btn m-auto d-block" (click)="filter()">Filter</button>
      </div>
    </div>
  </div>
</div>
