<!-- user-filter-modal.component.html -->
<div
  class="modal fade"
  id="userFilterModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content d-flex">
      <div class="modal-header p-2 z-1">
        <h1 class="modal-title" id="exampleModalLabel">
          {{ "filter" | translate }}
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          [ngClass]="
            translateService.currentLang === 'ar' ? 'me-auto' : 'ms-auto'
          "
        ></button>
      </div>
      <div class="modal-body">
        <div class="info d-flex flex-column gap-1">
          <h3>{{ "role" | translate }}</h3>
          <div class="d-flex align-items-center mb-4 gap-2">
            <a
              class="text-decoration-none d-flex align-items-center"
              href="#"
              [ngClass]="{
                breadcrumb: isActiveRole('Customer'),
                active: isActiveRole('Customer'),
                inActive: !isActiveRole('Customer')
              }"
              (click)="toggleRole('Customer', $event)"
            >
              {{ "customers" | translate }}
              <span *ngIf="isActiveRole('Customer')">✖</span>
            </a>
            <a
              class="text-decoration-none d-flex align-items-center gap-1"
              href="#"
              [ngClass]="{
                breadcrumb: isActiveRole('Provider'),
                active: isActiveRole('Provider'),
                inActive: !isActiveRole('Provider')
              }"
              (click)="toggleRole('Provider', $event)"
            >
              {{ "providers" | translate }}
              <span *ngIf="isActiveRole('Provider')">✖</span>
            </a>
            <a
              class="text-decoration-none d-flex align-items-center gap-1"
              href="#"
              [ngClass]="{
                breadcrumb: isActiveRole('Seller'),
                active: isActiveRole('Seller'),
                inActive: !isActiveRole('Seller')
              }"
              (click)="toggleRole('Seller', $event)"
            >
              {{ "merchants" | translate }}
              <span *ngIf="isActiveRole('Seller')">✖</span>
            </a>
          </div>
        </div>

        <div class="info d-flex flex-column gap-1">
          <h3>{{ "status" | translate }}</h3>
          <div class="d-flex align-items-center mb-4 gap-2">
            <a
              class="text-decoration-none d-flex align-items-center"
              href="#"
              [ngClass]="{
                breadcrumb: isActiveStatus('approved'),
                active: isActiveStatus('approved'),
                inActive: !isActiveStatus('approved')
              }"
              (click)="toggleStatus('approved', $event)"
            >
              {{ "approved" | translate }}
              <span *ngIf="isActiveStatus('approved')">✖</span>
            </a>
            <a
              class="text-decoration-none d-flex align-items-center gap-1"
              href="#"
              [ngClass]="{
                breadcrumb: isActiveStatus('rejected'),
                active: isActiveStatus('rejected'),
                inActive: !isActiveStatus('rejected')
              }"
              (click)="toggleStatus('rejected', $event)"
            >
              {{ "rejected" | translate }}
              <span *ngIf="isActiveStatus('rejected')">✖</span>
            </a>
            <a
              class="text-decoration-none d-flex align-items-center gap-1"
              href="#"
              [ngClass]="{
                breadcrumb: isActiveStatus('pending'),
                active: isActiveStatus('pending'),
                inActive: !isActiveStatus('pending')
              }"
              (click)="toggleStatus('pending', $event)"
            >
              {{ "pending" | translate }}
              <span *ngIf="isActiveStatus('pending')">✖</span>
            </a>
          </div>
        </div>

        <button
          type="button"
          class="filter-btn m-auto d-block"
          (click)="filter()"
        >
          {{ "filter" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
