<div class="d-flex align-items-center justify-content-between">
  <div class="d-flex align-items-center gap-2">
    <div class="search-container d-flex align-items-center position-relative">
      <span
        class="search-icon p-2"
        [ngClass]="currentLang === 'ar' ? 'icon-rtl' : 'icon-ltr'"
      >
        <img
          src="../../../../../assets/img/search-normal.svg"
          alt="Search Icon"
        />
      </span>
      <input
        type="text"
        class="form-control search-input"
        [placeholder]="'search_in_notifications' | translate"
      />
    </div>
    <button
      class="btn d-flex align-items-center gap-2"
      data-bs-toggle="modal"
      data-bs-target="#proposalFilterModal"
    >
      <img src="../../../../../assets/img/filter.svg" alt="" />
      <span>{{ "filter" | translate }}</span>
    </button>
  </div>

  <ng-container *appHasPermission="{ page: 'notifications', action: 'WRITE' }">
    <button
      class="btn-orange d-flex align-items-center gap-2"
      data-bs-toggle="modal"
      data-bs-target="#sendModal"
      [ngStyle]="{
        width: currentLang === 'ar' ? '115px' : '152px'
      }"
    >
      <img src="../../../../../assets/img/add.svg" alt="" />
      <span>{{ "send_notification" | translate }}</span>
    </button>
  </ng-container>
</div>

<app-notifications-filter-modal></app-notifications-filter-modal>
<app-notifications-send-modal></app-notifications-send-modal>
